body{
  font-size: 14px;
}

.content{
  margin-top: 70px;
}
h5{
  color: rgb(0, 129, 138);;
}
input{
  padding: 3px 6px;
}
.form-control{
  width: 300px !important;
  margin-bottom: 20px;
}

select{
  width: 325px;
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}
