<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Health Insurance</title>
</head>
<body>

  <app-header-user></app-header-user>

    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col col-sm-offset-3 py-4 mx-3 content">
        <h5>Health Insurance</h5>
          <input  [(ngModel)]="searchName" (input)='listOfInsurance()' type="search" class="form-control rounded" placeholder="Search Health Insurance" aria-label="Search"
            aria-describedby="search-addon" />
        <table class="table striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Branch Name</th>
              <th scope="col">Address</th>
              <th scope="col">isDisabled</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of list">
              <th scope="row">{{list.name}}</th>
              <td>{{list.branchname}}</td>
              <td>{{list.address}}</td>
              <td>{{list.disabled}}</td>
              <td>
                <button (click)="edit_info(list)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editHealth">EDIT</button> &nbsp;
                <span><button (click)="getID(list.uid)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteHealth">DISABLE</button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <!--Edit Health Insurance Modal-->
  <div class="modal fade" id="editHealth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editHealthLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editHealthLabel">Edit Health Insurance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <form #editInfo="ngForm" (ngSubmit)="updateInfo(editInfo.value)">
          <div class="modal-body">
            Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model2.name" name="name" type="text" size="43"> <br><br>
            Branch name: &nbsp;&nbsp;&nbsp; <input [(ngModel)]="model2.branchname" name="branchname" type="text" size="43"><br><br>
            Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model2.address" name="address" type="text" size="43"><br><br>
            Conctact Number: &nbsp;&nbsp;&nbsp; <input [(ngModel)]="model2.contact_number" name="contact_number" type="text" size="39"> <br><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info" data-bs-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of edit health Insurance modal-->

  <!--Disable Health Insurace Modal-->
  <div class="modal fade" id="deleteHealth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button (click)="disable_insurance()" type="button" class="btn btn-info" data-bs-dismiss="modal">Disable</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of delete health insurance modal-->

</body>
</html>

