<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Health Insurance</title>
</head>
<body>

  <app-header-user></app-header-user>

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>

      <div class="col-sm-3 col-sm-offset-3 py-2">
        <div class="input-group" >
          <input type="search" class="form-control border-info rounded" placeholder="Search Health Insurance" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="row flex-nowrap tbl">
      <div class="col mx-2">
        <table class="table table-info table striped">
          <thead>
            <tr>
              <th scope="col">Health Insurance Id</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">20001</th>
              <td>Insular Life</td>
              <td>
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editHealth">EDIT</button> &nbsp;
                <span><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteHealth">DELETE</button></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--Add Health Insurance-->
  <div class="addHealth">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addHealth">Add Health Insurance</button>
  </div>
  <!--Modal Health Insurance-->
  <div class="modal fade" id="addHealth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addHealthLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addHealthLabel">Add Health Insurance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          Health Insurance Id: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="30"> <br><br>
          Health Insurance Name: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="30"> <br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of modal Health Insurance-->

  <!--Edit Health Insurance Modal-->
  <div class="modal fade" id="editHealth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editHealthLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editHealthLabel">Edit Health Insurance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          Health Insurance Id: &nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="30"> <br><br>
          Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="30"><br><br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of edit health Insurance modal-->

  <!--Delete Health Insurace Modal-->
  <div class="modal fade" id="deleteHealth" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of delete health insurance modal-->

</body>
</html>

