<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medical Certificate</title>
</head>
<body>
  <div class="whole">
    <div id="content" class="container" #content>
      <div class="top-part m-5">
        <div class="lab-name text-center"><span><img src="" alt=""></span> Hi-end Diagnostics Center</div>
        <p class="details text-center">YLA Basak, Lapu-lapu City / <span>495-9981</span> / hienddiag@gmail.com</p>
      </div>
      <div class="mid-part">
        <h2 class="med-cert text-center mt-5"><u>MEDICAL CERTIFICATE</u></h2>
        <p class="text-justify">
          This is to certify that <span class="patient">{{patientInfo.fullname}}</span> was thoroughly examined at
          <span class="address">YLA Basak, Lapu-lapu City, </span><span class="lab">Hi-end Diagnostics Center</span>
          on <span class="date">{{datetoday}}</span>. <span class="personnel-name">{{doctorInfo.fullname}}</span> conducted the examination
          and he has found that the individual suffers from {{patientInfo.sf}} and has prescribed an/a {{patientInfo.prsc}}
        </p>
      </div>
      <div class="lower-part mt-5">
        <div class="row">
          <div class="col-8 left">
            <p class="personnel-signature">Acknowledge and signed on {{monthDay}},</p>
           <p class="">by {{doctorInfo.fullname}}</p>
          </div>
          <div class="col-4 right">
            <p class="">{{doctorInfo.spc_name}}</p>
            <p>Hi-end Diagnostics Center</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
