<div class="bg-dark row">
  <div class="col">
    <p class="video-description text-center text-light">{{currentUser.displayName}}</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </div>
  <div class="col">
    <p class="video-description text-center text-light">{{remoteUser.fullname}}</p>
    <video #received_video [autoplay]="true"></video>
  </div>
</div>
<div class="bg-dark row">
  <div class="options">
    <button *ngIf="call_interval" class="start-local">{{timeLeft}}</button>
    <button (click)="startLocalVideo()" class="video-on" title="Camera on"><i class="bi bi-camera-video"></i></button>
    <button (click)="pauseLocalVideo()" class="stop-local" title="Camera/Mic off">
      <span><i class="bi bi-camera-video-off"></i></span>
      <span><i class="bi bi-mic-mute"></i></span>
    </button>
    <button [disabled]="call_interval" (click)="Call()" class="call" title="Call">
      <span><i class="bi bi-telephone"></i></span>
    </button>
    <button (click)="end_call()" class="hangup"><span class="hang" title="End Call"><i class="bi bi-telephone-fill"></i></span></button>
    <button (click)="start_record()" class="record" title="Record"><span><i class="bi bi-record-circle"></i></span></button>
    <button (click)="stop_record()" class="stop-record" title="Stop Recording"><span><i class="bi bi-slash-circle"></i></span></button>
  </div>
</div>
