*{
  box-sizing: border-box;
}
/*
.row{
  background-color: rgb(0, 129, 138);
} */

  video{
    background: rgb(194, 194, 194);
    border-radius: 5pt;
    margin: 5px;
    max-width: 650px;
    height: 400px;
  }

.video-description{
  margin-top: 70px;
}

/*buttons*/
button{
  margin: 50px 0 50px 0;
  font-size: 1.8rem;
}

.options{
  margin:auto;
  width: 500px;
}

i{
  padding: 8px 10px;
}

.start-local{
  border: 0;
  color: red;
  background-color: transparent;
  font-size: 1.5rem;
}

.video-on{
  border: 0;
  color: white;
  background-color: transparent;
  padding: 0 8px;
}

.stop-local{
  border: 0;
  color: white;
  background-color: transparent;
  display: inline-flex;
}

.call{
  border: 0;
  color: white;
  background-color: transparent;
  padding: 0 8px;
}

.hangup{
  border: 0;
  color:red;
  background-color: transparent;
  transform: rotate(135deg);
}
.record{
  border: 0;
  color: white;
  background-color: transparent;
  padding: 4px 2px;
}
.stop-record{
  border: 0;
  color: red;
  background-color: transparent;
  padding: 4px 2px;
}

.bi-camera-video:hover{
  border-radius: 50%;
  background-color: white;
  color: rgb(15, 15, 15);
  opacity: 0.9;
}
.bi-telephone:hover{
  border-radius: 50%;
  background-color: green;
  color: white;
}
.bi-telephone-fill:hover{
  border-radius: 50%;
  background-color: white;
}

.stop-local:hover{
  border-radius: 3px;
  background-color: red;
  color: white;
}

.record:hover{
  border-radius: 50%;
  background-color: white;
  color: green;
}

.stop-record:hover{
  border-radius: 50%;
  background-color: white;
}

/*
@media screen and (min-width: 600px) {
  video{
    max-width: 450px !important;
    float: left;
  }

}


@media screen and (min-width: 900px) {
  video{
    width: 590px !important;
    float: left;
  }
}

*/




