<div class="bg-dark row">
  <div class="col">
    <p class="video-description text-center text-light">Doctor's Name</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </div>
  <div class="col">
    <p class="video-description text-center text-light">Patient's Name</p>
    <video #received_video [autoplay]="true"></video>
  </div>
</div>
<div class="bg-dark row">
  <div class="options">
    <button *ngIf="call_interval" class="start-local">{{timeLeft}}</button>
    <button (click)="pauseLocalVideo()" class="stop-local"><span><i class="bi bi-stop"></i></span>Pause Video/Mic</button>
    <button (click)="startLocalVideo()" class="video-on"><i class="bi bi-camera-video"></i></button>
    <button [disabled]="call_interval" (click)="Call()" class="call"><span><i class="bi bi-telephone"></i></span></button>
    <button (click)="end_call()" class="hangup"><span class="hang"><i class="bi bi-telephone"></i></span></button>
  </div>
</div>
