body{
  margin: 0;
}
.navbar{
  background-color: white;
  border-bottom: 1px solid rgb(0, 192, 206);
  height: 60px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
  width: 100% !important;
  position: fixed;
  z-index: 99;
  top:0;
}

.inputs{
  display: inline;
  padding: 4px;
  font-size: 12px;
}
input[type=text]{
  border: 1px solid rgb(0, 192, 206);
  padding: 8px;
}

a.login{
  margin-right: 30px;
  margin-top: 20px;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 192, 206);
}
a:hover{
  color: darkcyan;
}

.navbar-brand{
  color: rgb(0, 192, 206);
  font-weight: bold;
}

.navbar-brand:hover{
  color: darkcyan;
}

.forgot-container{
  width: 360px;
  margin: auto;
  position: relative;
  top: 100px;
  bottom: 0;
  border: 1px solid rgb(219, 218, 218);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.forgot-content{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 0px;
}

p.title-head{
  text-align: left;
  border-bottom: 1px solid rgb(219, 218, 218);
  padding: 10px 15px;
  font-weight: bold;
  color: rgb(161, 161, 161);
}
.enter{
  font-size: 12px;
  margin-left: 20px;
}
.emaill{
  border: 1px solid rgb(0, 192, 206);
  padding: 8px 10px;
  margin: 5px 20px 30px 20px;
  font-size: 12px;
  float: left;
}

.cancel, .reset{
  font-size: 12px;
  display: inline;
}

.reset{
  margin: 0 -30px 20px 10px;
}
.cancel{
  margin: 0 0 20px 20px;
}
