<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light shadow-sm">
      <a href="/landing" class="navbar-brand text-left">
        <img class="logo" src="./assets/images/ekIcon1.ico" width="40" height="40"
         alt="E-Konsulta">
         <span class="main1 ms-2"> E-KONSULTA</span>
      </a>

      <div class="collapse navbar-collapse" id="toggleHeader">
        <ul class="navbar-nav ms-auto">
          <div *ngIf="error.message.length > 0">
            <p>{{error.message}}</p>
          </div>
          <li class="inputs">
              <input [(ngModel)]="email" name="email" type="text" placeholder="Email">
          </li>
          <li class="inputs">
            <input [(ngModel)]="password" name="password" type="text" placeholder="Password">
          </li>
          <li class="inputs">
            <a href="javascript:void(0)" (click)="login()" class="login">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>

    <form #form="ngForm" (ngSubmit)="reset_email(form.value)">
      <div class="forgot-container">
        <div class="forgot-content">
          <p class="title-head">Forgot Password</p>
          <p class="enter">Please enter your email</p>
          <input [(ngModel)]="email2" name="email" type="email" class="emaill" placeholder="Email Address" size="45">
        </div>
        <div class="buttons-footer">
          <button routerLink="/login" class="btn btn-danger cancel">Cancel</button>
          <button type="submit" class="btn btn-info reset">Reset Password</button>
        </div>

        <div *ngIf="message.length>0" class="p-3 mb-2 bg-info text-dark">
          {{message}}
        </div>
      </div>
    </form>


</body>
</html>

