<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-light">
      <a href="/landing" class="navbar-brand text-left">
        <img src="./assets/images/ekIcon1.ico" width="40" height="40"
         alt="E-Konsulta">
         E-KONSULTA
      </a>

      <div class="collapse navbar-collapse" id="toggleHeader">
        <ul class="navbar-nav ms-auto">
          <li class="inputs">
              <input type="text" placeholder="Email">
          </li>
          <li class="inputs">
            <input type="text" placeholder="Password">
          </li>
          <li class="inputs">
            <a class="login">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="forgot-container">
      <div class="forgot-content">
        <p class="title-head">Forgot Password</p>
        <p class="enter">Please enter your email</p>
        <input type="email" class="emaill" placeholder="Email Address" size="45">
      </div>
      <div class="buttons-footer">
        <button routerLink="/login" class="btn btn-danger cancel">Cancel</button>
        <button class="btn btn-info reset">Reset Password</button>
      </div>
    </div>


</body>
</html>

