<app-header-doctor></app-header-doctor>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-doctor-sidenav></app-doctor-sidenav>
  </div>
  <div class="col mt-4">
    <p class="usr">Patients</p>
    <div class="text-left py-1">
      <div class="btn-group mb-3">
        <button type="button" class="up" (click)="upcomingFunction()">Upcoming</button>
        <button type="button" class="done" (click)="doneFunction()">Done</button>
      </div>
      <div *ngIf="upcoming" class="list-group list-group-flush mt-2">
        <div *ngFor="let list of userList">
           <a class="list-group-item list-group-flush">
            <div *ngIf="list.upcoming_status == 'pending'">
              <span class="full-name mb-2 col">{{list.fullname}}</span>
              <button (click)="chat(list)" id="btnUpcoming" class="pending" >Accept <span><i class="bi bi-check-circle"></i></span></button>
              <button id="btnSched" class="schedule">{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</button>
           </div>
           <div *ngIf="list.upcoming_status == 'ongoing'">
             <span class="full-name mb-2 col">{{list.fullname}}</span>
             <button (click)="chat(list)"  id="btnUpcoming" class="join-now" >Join now <span><i class="bi bi-plus-circle-dotted"></i></span></button>
             <button id="btnSched" class="schedule">{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</button>
           </div>
          </a>
        </div>
      </div>
      <div *ngIf="done" class="list-group list-group-flush mt-2">
        <div *ngFor="let list of doneList">
          <a class="list-group-item list-group-flush">
              <span class="full-name mb-2 col">{{list.fullname}}</span>
              <button id="btnUpcoming" class="done1" ><span>Done<i class="bi bi-check-circle ms-2"></i></span></button>
              <button id="btnSched" class="schedule">{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
