<app-header-doctor></app-header-doctor>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-doctor-sidenav></app-doctor-sidenav>
  </div>
  <div class="col mt-4">
    <h3 class="usr">Patients</h3>
    <div class="text-left py-1">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-info" (click)="upcomingFunction()">Upcoming</button>
        <button type="button" class="btn btn-outline-info" (click)="doneFunction()">Done</button>
      </div>
      <div *ngIf="upcoming" class="list-group">
        <a *ngFor="let list of userList" (click)="chat(list)" class="list-group-item list-group-item-action">{{list.fullname}}</a>
      </div>
      <div *ngIf="done" class="list-group">
          <a routerLink="/doctor-patient-chat" class="list-group-item list-group-item-action">Kanemoto Yoshiiiiii</a>
      </div>
    </div>
  </div>
</div>
