*{
  box-sizing: border-box;
}
.usr{
  color: rgb(0, 129, 138);
}
.up{
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 7px 12px;
  width: 120px;
}
.done{
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  padding: 7px 12px;
  width: 80px;
}
.done1{
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  padding: 7px 12px;
  width: 120px;
}
.up:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}
.done:hover,
.done1:hover{
  background-color: rgb(241, 217, 0);
}
.up:active,
.done:active{
  background-color: rgb(194, 251, 255);
}
.full-name{
  margin-right: 100px;
  color: #333;
  padding: 0 10px;
}
.pending,
.join-now,
.schedule{
  border: none;
  padding: 4px 12px;
}
.pending{
  background-color: rgb(255, 238, 0);
  border-radius: 3px;
}
.pending:hover{
  background-color: rgb(241, 217, 0);
}
.join-now{
  color: white;
  background-color: rgb(0, 129, 138);
  border-radius: 3px;
}
.join-now:hover{
  background-color: rgb(0, 113, 121);
}
#btnSched{
  margin-left: 1%;
}

.consultation{
  position: absolute;
  right: 420px;
  top: 90px;
  color: rgb(0, 192, 206);
  overflow: hidden;
}
