<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Profile test test</title>
</head>
<body>
  <!--header section -->
  <app-header-user></app-header-user>

<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" >
          <app-admin-sidenav></app-admin-sidenav>
      </div>
      <!--2nd column-->
      <div class="col" id="admin-container">
        <h2 class="admin"><i class="fa fa-user-circle"></i> Admin Name</h2>
        <div class="info px-3 py-4" *ngIf="authservice.currentUser">
          User UID: {{authservice.currentUserId}} <br><br>
          User Name: Not Yet In fields<br><br>
          Name: {{userData.fullName}} <br><br>
          Date of Birth: Not Yet In fields <br><br>
          Email: {{authservice.currentUserName}} <br><br>
          Password: {{userData.password}} <br><br>
          User Type: {{userData.role}} <br><br> <br><br>
        </div>
        <button class="btn btn-outline-info" id="edit"  data-bs-toggle="modal" data-bs-target="#editInfo">EDIT</button>
        <button class="btn btn-outline-info" id="logout"  data-bs-toggle="modal" data-bs-target="#logOut"> LOG OUT </button>
      </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        User Name: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="30"> <br><br>
        Name: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" size="30"> <br><br>
        Date of Birth: &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" size="50"><br><br>
        Email: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input type="text" size="30"> <br><br>
        Password: &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; <input type="password" size="30"><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>
<!--end of edit modal-->

<!--Logout Modal-->
<div class="modal fade" id="logOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button (click)="authservice.signout()" type="button" class="btn btn-info" data-bs-dismiss="modal">Yes</button>
        <button [routerLink]="['/admin-profile']" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!--end of logout modal-->
</body>
</html>
