
body{
  width: 100%;
}


/* ADMIN */

.admin{
  color: rgb(0, 192, 206);
  padding: 12px 4px;
}

#admin-container{
  border: 1px solid rgb(0, 192, 206);
  margin-right: 22px;
  padding: 20px;
  /*min-height: 480px; height of sidebar and the information on right*/
}

#editLabel{
  color: rgb(0, 192, 206);
}

#edit{
  position: absolute;
  top: 110px;
  right: 35px;
  overflow: hidden;
}

#logout{
  position:absolute;
  top: 590px;
  right: 35px;
  overflow: hidden;
}



