<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Profile</title>
</head>
<body>
  <!--header section -->
  <app-header-user></app-header-user>

  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" >
          <app-admin-sidenav></app-admin-sidenav>
      </div>

      <!--2nd column-->
      <div class="col" id="admin-container">
        <h2 class="admin"><span><img src="https://st3.depositphotos.com/13159112/17145/v/600/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg" alt="img" width="50" height="50">
        </span> {{userData.fullName}}</h2>
        {{imgUrl}}
        <button class="btn btn-outline-primary" (click)="uploadImage()" >Upload</button>
        <input type="file" (change)="choosefile($event)">

        <div class="info px-3 py-4" *ngIf="authservice.currentUser" name="image">
          User UID: {{authservice.currentUserId}} <br><br>
          Role: {{userData.role}} <br><br>
          Name: {{userData.fullName}} <br><br>
          Password: {{userData.password}} <br><br>
          Email: {{authservice.currentUserName}} <br><br>
        </div>
        <button class="btn btn-outline-info" (click)="editUser()" id="edit"  data-bs-toggle="modal" data-bs-target="#editInfo">EDIT</button>
        <button class="btn btn-outline-info" id="logout"  data-bs-toggle="modal" data-bs-target="#logOut"> LOG OUT </button>
      </div>
  </div>

<!--Add another admin-->
<div class="newAdmin">
  <button type="button" class="btn btn-info" [routerLink]="['/registration']">Add another admin</button>
</div>

<!--Edit Modal-->
<div class="modal fade" id="editInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo.value)">
      <div class="modal-body">
        Role: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="model.role" type="text" size="40" name="role"> <br><br>
        Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model.fullName" type="text" size="40" name="fullName"> <br><br>
        Password: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <input [(ngModel)]="model.password" type="password" size="40" name="password"><br><br>
        Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input [(ngModel)]="model.emailAddress" type="text" size="40" name="emailAddress"> <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-info" data-bs-dismiss="modal">Edit</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!--end of edit modal-->

<!--Logout Modal-->
<div class="modal fade" id="logOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button (click)="authservice.signout()" type="button" class="btn btn-info" data-bs-dismiss="modal">Yes</button>
        <button [routerLink]="['/admin-profile']" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!--end of logout modal-->
</body>
</html>
