<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Profile</title>
</head>
<body>
  <!--header section -->
  <app-header-user></app-header-user>

  <div class="row flex-nowrap">
    <div class="col-2 px-md-2 col-xl-2 px-sm-1">
      <app-admin-sidenav></app-admin-sidenav>
    </div>

    <!--2nd column-->
    <div class="col-10 col-md-9 col-sm-7">
      <div class="column">
        <img src="{{imgUrl}}" alt="img" class="profile-pic" width="200" height="200">
        <h2 class="admin">{{userData.fullname}}</h2>
        <button (click)="uploadImage()" class="btn btn-primary">Upload</button>
        <input type="file" (change)="choosefile($event)">
      </div>
      <!--Add another admin -->
      <div class="newAdmin">
        <button type="button" class="btn btn-info" [routerLink]="['/registration']">Add another admin</button>
      </div>
      <div class="info px-3 py-4" *ngIf="authservice.currentUser">
        User UID: {{authservice.currentUserId}} <br>
        Role: {{userData.role}} <br>
        Name: {{userData.fullname}} <br>
        Email: {{authservice.currentUserName}} <br>
      </div>
      <div class="buttons-right">
        <button class="btn btn-info" (click)="editUser()" id="edit"  data-bs-toggle="modal" data-bs-target="#editInfo">EDIT</button>
        <button class="btn btn-info" id="logout"  data-bs-toggle="modal" data-bs-target="#logOut"> LOG OUT </button>
      </div>
    </div>
  </div>

<!--Edit Modal-->
<div class="modal fade" id="editInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo.value)">
      <div class="modal-body">
        Role: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="model.role" type="text" size="45" name="role" readonly> <br><br>
        Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model.fullname" type="text" size="45" name="fullname"> <br><br>
        Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input [(ngModel)]="model.email" type="text" size="45" name="email"> <br><br>
        Password: &nbsp;&nbsp;&nbsp; &nbsp; <input [(ngModel)]="model.password" type="text" size="45" name="password"><br><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-info" data-bs-dismiss="modal">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!--end of edit modal-->

<!--Logout Modal-->
<div class="modal fade" id="logOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button (click)="authservice.signout()" type="button" class="btn btn-info" data-bs-dismiss="modal">Yes</button>
        <button [routerLink]="['/admin-profile']" type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<!--end of logout modal-->


</body>
</html>
