*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
  font-size: 14px;
  height: 100% !important;
  width: 100% !important;
  min-height: 100vh;
  background: #f5f5f5;
}

/*col*/
.first{
  margin-top: 130px !important;
}
.main-profile{
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
  width: 320px;
  padding: 20px 15px;
  text-align: center;
}
.second{
  font-size: 14px;
}
.information{
  margin-top: 140px !important;
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 500px;
  border-radius: 5px;
  padding: 50px 40px;
  background-color: white;
}
.admin{
  color: rgb(0, 129, 138);
  padding: 10px 0;
  margin-bottom: 10px;
}
.successful{
  border: none;
  background-color: transparent;
  color: green;
  font-size: 20px;
}
.profile-pic{
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

/*label in modal*/
#editLabel{
  color: rgb(0, 129, 138);
}

/* upload image*/
.main-profile .imagee{
  display: inline-flex;
  width: 200px;
  margin: 8px 0;
}

/*input file*/
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  display: none;
  margin-right: 0;
}
.custom-file-input::before {
  content: 'Update Profile';
  color: black;
  display: inline-block;
  border: 1px solid rgb(230, 230, 230);
  color: rgb(0, 129, 138);
  border-radius: 5px;
  padding: 12px 18px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 14px;
  text-align: center;
}
.custom-file-input:hover::before {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.selection-done{
  color: green;
  font-size: 22px;
  margin-top: 6px;
  margin-left: 5px;
}

.upload{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
  border-radius: 5px;
  font-size: 20px;
  padding: 8px 10px;
}
.upload:hover{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/*buttons*/
.edit{
  color: rgb(0, 129, 138);
  border:none;
  border-radius: 3px;
  padding: 4px 8px;
  width: 420px;
  background-color: rgb(245, 244, 244);
  margin-top: 20px;
  font-weight: 700;
  z-index: -1;
}
.logout{
  color: rgb(0, 129, 138);
  border:none;
  border-radius: 3px;
  padding: 7px 35px;
  background-color: white;
  margin-top: 530px;
  font-weight: 700;
}

.add-admin,
.insurance,
.lab{
  color: rgb(0, 129, 138);
  background-color: rgb(245, 244, 244);
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 5px ;
}

.add-admin:hover,
.insurance:hover,
.lab:hover,
.edit:hover,
.logout:hover,
.deletion:hover{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
}

/*information*/
.info{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  padding: 4px 15px;
}
.info-1{
  margin-left: 10px;
  margin-top: 5px;
}
.info-2{
  margin-left: 35px;
}
.info-3{
  margin-left: 25px;
}
.info-4{
  margin-left: 28px;
}

/*inside the modal*/
/*styling update profile*/
input{
  padding: 2px 6px;
}
input:focus{
  outline: 0;
}

.cancel,
.update,
.yes,
.no
{
  border:none;
  padding: 5px 20px;
  font-size: 10pt;
  border-radius: 3px;
}
.cancel,
.no{
  border: 1px solid maroon;
  background-color:white;
  color: maroon;
}
.update,
.yes{
  border: 1px solid rgb(0, 129, 138);
  background-color:white;
  color: rgb(0, 129, 138);
}

.cancel:hover,
.no:hover{
  background-color: maroon;
  color: white;
}

.update:hover,
.yes:hover{
  background-color: rgb(0, 129, 138);
  color: white;
}

.register{
  background-color: white;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
  padding: 7px 40px;
  font-size: 1rem;
}

.register:hover{
  transform: scale(1.2);
  transition: ease .25s;

}

@media only screen and (max-width: 600px) {
  body{
    overflow-y: hidden !important;
  }
}
