
body{
  overflow: hidden;
}

/* ADMIN */
.newAdmin{
  position: absolute;
  bottom: 90px;
  left: 350px;
}

.admin{
  color: rgb(0, 192, 206);
  padding: 12px 4px;
  text-align: left;
  margin-left: 70px;
}
.profile-pic{
  border-radius: 50%;
  border: 1px solid rgb(0, 192, 206);
  margin: 50px 10px 10px 70px;
  cursor: pointer;
}

.col-10{
  margin: 50px 0px 0px 35px;
  border: 2px solid rgb(0, 192, 206);
  box-shadow: 0 4px 8px 0 rgba(0, 74, 77, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 500px;
}

.info{
  line-height: 45px;
  position: absolute;
  top: 180px;
  right: 250px;
}

.buttons-right{
  position: absolute;
  bottom: 180px;
  right: 420px;
}
#edit{
  margin-right: 20px;
}

#editLabel{
  color: rgb(0, 192, 206);
}

/*
#admin-container{
  position: absolute;
  border: 1px solid rgb(0, 192, 206);
  padding: 20px;
  left: 215px;
  width: 82%;
  top: 140px;
  overflow: hidden;
  /*overflow-y: auto;
  max-height: 100%;
  min-height: 480px; height of sidebar and the information on right*/
/*} */


/*responsive
@media screen and (max-width: 600px)
{
  #edit,#logout{
    margin-right: 10px;
  }

} */

