body{
  font-family: "Roboto", sans-serif;
  margin: 0;
 /* background-image: url("/assets/images/doctor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}


/*registration form*/

.register-page {
  width: 360px;
  margin: auto;
  top: 25px;
  position: relative;
  bottom: 0;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin:auto;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(119, 119, 119, 0.24), 0 5px 5px 0 rgba(112, 112, 112, 0.24);
}
.form input[type=text], .form input[type=password],.form input[type=date] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 14px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right: 5.7em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.form input[type=text]:hover,.form input[type=text]:active,.form input[type=text]:focus,
.form input[type=password]:hover,.form input[type=password]:active,.form input[type=password]:focus,
.form input[type=date]:hover, .form input[type=date]:active, .form input[type=date]:focus{
  background: rgb(234, 252, 253);
  color: rgb(0, 192, 206);
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 10px;
  color: rgb(0, 192, 206);
  background-color: rgb(189, 249, 255);
  font-size: 20px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: rgb(0, 192, 206);
  color: white;
}
/*
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(0, 192, 206);
  text-decoration: none;
} */

a{
  text-decoration: none;
  color: rgb(0, 192, 206);
}
a:hover{
  color: rgb(0, 152, 163);
}

h3{
    color: rgb(0, 192, 206);
}
::placeholder{
    color: rgb(0, 192, 206);
}

label{
  font-size: 12px;
}

.agree{
  float: left;
  margin-bottom: 10px;
}


@media screen and (max-width: 600px)
{
  .register-page {
    position: relative;
    width: 100%;
  }
}
