<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Registration Page</title>
</head>
<body class="form-v10">
  <!--header section -->
  <!-- <app-header></app-header> -->

 <!--Registration Form
 <div class="register-page">
  <div class="form">
    <h3 class="py-1">Registration</h3>
    <form #info="ngForm" (ngSubmit)="registerDoctor(info.value)" class="register-form">
      <input type="text" [(ngModel)]="model.fullname" name="fullname" placeholder="Full Name" required/>
      <input [(ngModel)]="model.dob" class="dateclass placeholderclass" type="date" name="dob" placeholder="Date of Birth" required>
      <input [(ngModel)]="model.contact_number" name="contact_number" type="text" placeholder="Contact Number" required/>
      <input [(ngModel)]="model.license_number" name="license_number" type="text" placeholder="License Number" required/>
      <select [(ngModel)]="model.specialization" name="specialization" id="">
        <option value="default" selected>--SELECT SPECIALIZATION--</option>
        <option *ngFor="let list of spList" value="{{list.id}}">{{list.name}}</option>
      </select>
      <input [(ngModel)]="model.address" name="address" type="text" placeholder="Address" required/>
      <input [(ngModel)]="model.email" type="email" name="email" placeholder="Email address" required/>
      <input [(ngModel)]="model.password" name="password" type="password" placeholder="Password" required/>
      <input type="password" placeholder="Confirm Password" required/>
      <div class="agree">
        <input type="checkbox" class="form-check-input" id="terms"/>
        <label class="form-check-label ms-2" for="terms">I agree to the <a routerLink="/terms-and-conditions" class="terms">Terms and Conditions</a></label>
      </div>
      <button type="submit" >REGISTER</button>

    </form>
    <div class="form-group">
      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>
    </div>
  </div>
</div>
-->

  <div class="page-content">
  <div class="form-v10-content">
  <form class="form-detail" action="#" method="post" id="myform">
  <div class="form-left">
  <h2>General Infomation</h2>
  <div class="form-row">
  <select name="title">
  <option class="option" value="title">Title</option>
  <option class="option" value="businessman">Businessman</option>
  <option class="option" value="reporter">Reporter</option>
  <option class="option" value="secretary">Secretary</option>
  </select>
  <span class="select-btn">
  <i class="zmdi zmdi-chevron-down"></i>
  </span>
  </div>
  <div class="form-group">
  <div class="form-row form-row-1">
  <input type="text" name="first_name" id="first_name" class="input-text" placeholder="First Name" required="">
  </div>
  <div class="form-row form-row-2">
  <input type="text" name="last_name" id="last_name" class="input-text" placeholder="Last Name" required="">
  </div>
  </div>
  <div class="form-row">
  <select name="position">
  <option value="position">Position</option>
  <option value="director">Director</option>
  <option value="manager">Manager</option>
  <option value="employee">Employee</option>
  </select>
  <span class="select-btn">
  <i class="zmdi zmdi-chevron-down"></i>
  </span>
  </div>
  <div class="form-row">
  <input type="text" name="company" class="company" id="company" placeholder="Company" required="">
  </div>
  <div class="form-group">
  <div class="form-row form-row-3">
  <input type="text" name="business" class="business" id="business" placeholder="Business Arena" required="">
  </div>
  <div class="form-row form-row-4">
  <select name="employees">
  <option value="employees">Employees</option>
  <option value="trainee">Trainee</option>
  <option value="colleague">Colleague</option>
  <option value="associate">Associate</option>
  </select>
  <span class="select-btn">
  <i class="zmdi zmdi-chevron-down"></i>
  </span>
  </div>
  </div>
  </div>
  <div class="form-right">
  <h2>Contact Details</h2>
  <div class="form-row">
  <input type="text" name="street" class="street" id="street" placeholder="Street + Nr" required="">
  </div>
  <div class="form-row">
  <input type="text" name="additional" class="additional" id="additional" placeholder="Additional Information" required="">
  </div>
  <div class="form-group">
  <div class="form-row form-row-1">
  <input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" required="">
  </div>
  <div class="form-row form-row-2">
  <select name="place">
  <option value="place">Place</option>
  <option value="Street">Street</option>
  <option value="District">District</option>
  <option value="City">City</option>
  </select>
  <span class="select-btn">
  <i class="zmdi zmdi-chevron-down"></i>
  </span>
  </div>
  </div>
  <div class="form-row">
  <select name="country">
  <option value="country">Country</option>
  <option value="Vietnam">Vietnam</option>
  <option value="Malaysia">Malaysia</option>
  <option value="India">India</option>
  </select>
  <span class="select-btn">
  <i class="zmdi zmdi-chevron-down"></i>
  </span>
  </div>
  <div class="form-group">
  <div class="form-row form-row-1">
  <input type="text" name="code" class="code" id="code" placeholder="Code +" required="">
  </div>
  <div class="form-row form-row-2">
  <input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required="">
  </div>
  </div>
  <div class="form-row">
  <input type="text" name="your_email" id="your_email" class="input-text" required="" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Your Email">
  </div>
  <div class="form-checkbox">
  <label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
  <input type="checkbox" name="checkbox">
  <span class="checkmark"></span>
  </label>
  </div>
  <div class="form-row-last">
  <input type="submit" name="register" class="register" value="Register Badge">
  </div>
  </div>
  </form>
  </div>
  </div>

  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
  <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v64f9daad31f64f81be21cbef6184a5e31634941392597" integrity="sha512-gV/bogrUTVP2N3IzTDKzgP0Js1gg4fbwtYB6ftgLbKQu/V8yH2+lrKCfKHelh4SO3DPzKj4/glTO+tNJGDnb0A==" data-cf-beacon="{&quot;rayId&quot;:&quot;6ba1e96abeb73c88&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.11.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>





</body>
</html>

