
.usr{
  color: rgb(0, 129, 138);
  margin-top: 70px;
  font-size: 30px;
  font-weight: 700;
}

.bi-eye-fill{
  font-size: 20px;
  margin-left: 10px;
}

.view{
  font-size: 18px;
  font-weight: 700;
  padding: 3px 7px;
  width: 100px;
  border: none;
  border-radius: 50px;
  color: rgb(0, 129, 138);
  background-color: transparent;
  border: 1px solid rgb(0, 129, 138);
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.view:hover{
  color: #fff;
  border: 1px solid rgb(0, 222, 238);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
}


.btn-success{
  margin-right: 10px !important;
}
input{
  padding: 3px 6px;
}
input:focus{
  outline: 0;
}
.send{
  padding: 5px 20px;
  font-size: 10pt;
  border-radius: 3px;
  border: 1px solid rgb(0, 129, 138);
  background-color:white;
  color: rgb(0, 129, 138);
}
.send:hover{
  background-color: rgb(0, 94, 100);
  color: white;
}
