<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm mb-4">
      <a href="/landing" class="navbar-brand text-left">
        <img class="logo" src="./assets/images/ekIcon1.ico" width="40" height="40"
         alt="E-Konsulta">
         <span class="main ms-2">E-KONSULTA</span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#toggleHeader"
        aria-controls="toggleHeader"
        aria-expanded="false"
        aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="toggleHeader">
        <ul class="navbar-nav ms-auto menus">
          <li>
              <a routerLink="/">HOME</a>
          </li>
          <li>
            <a routerLink="/register-as">REGISTER</a>
          </li>
          <li>
            <a routerLink="/login">LOGIN</a>
          </li>
        </ul>
      </div>
    </nav>

</body>
</html>
