.navbar{
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100% !important;
  position: fixed;
  z-index: 999;
  top:0;
  left: 0;
}

.logo{
  margin-left: 10px;
}

li{
  display: inline;
  padding: 4px 28px;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: rgb(1, 146, 156);
}
a:hover{
  color: darkcyan;
}

.main{
  font-size: 1.4rem;
  color: rgb(0, 129, 138);
}

.navbar-toggler{
  float: right;
}
