<app-header-insurance></app-header-insurance>

    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-health-insurance-sidenav></app-health-insurance-sidenav>
      </div>
    </div>
    <div class="row flex-nowrap tbl">
      <div class="col mx-3 py-4">
        <div class="text-left">
          <div class="btn-group py-3">
            <button type="button" class="btn btn-outline-info" (click)="pendingFunction()">Pending</button>
            <button type="button" class="btn btn-outline-info" (click)="doneFunction()">Done</button>
          </div>
          <div *ngIf="pending">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Name</th>
                  <th scope="col">Filename</th>
                  <th scope="col">File</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of loa_list">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.fullname}}</td>
                  <td>{{list.filename}}</td>
                  <td>
                    <button class="btn btn-info">View File</button>
                  </td>
                  <td>
                    <button class="btn btn-success">Approved</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="done">
            Done Health Insurance
          </div>
        </div>
      </div>
    </div>

