<app-header-insurance></app-header-insurance>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
    <!--sidenav -->
    <app-health-insurance-sidenav></app-health-insurance-sidenav>
  </div>

  <div class="col mt-4 mx-3">
      <p class="usr py-1">LOA</p>
      <div class="btn-group">
        <button type="button" class="pending" (click)="pendingFunction()">Pending</button>
        <button type="button" class="done" (click)="doneFunction()">Done</button>
      </div>
      <div *ngIf="err_message.length > 0" class="alert alert-info">
        {{err_message}}
      </div>
      <div *ngIf="pending">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Laboratory</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of loa_list">
              <td>{{list.createdAt}}</td>
              <td>{{list.fullname}}</td>
              <td>{{list.lab_name}}</td>
              <td>
                <button (click)="patientInfo = list" type="button" class="send1" data-bs-toggle="modal" data-bs-target="#sendFle">Send File</button>
                <button (click)="decline_LOA(list.uid)" class="decline">Decline</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="done">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Filename</th>
              <th scope="col">File</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of sent_list">
              <td>{{list.createdAt}}</td>
              <td>{{list.fullname}}</td>
              <td>{{list.filename}}</td>
              <td>
                <button (click)="open_LOA(list.file)" class="view" >View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="modal fade" id="sendFle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Send File</h5>
        <button (click)="clear()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Add File</p>
        <p><input [(ngModel)]="filename" type="text" size="40" placeholder="Input filename"></p>
        <input #loa_file type="file" (change)="choosefile($event)" accept=".pdf,.docx">
      </div>
      <div *ngIf="file_message.length > 0" class="alert alert-danger">
        {{file_message}}
      </div>
      <div *ngIf="file2_message.length > 0" class="alert alert-success">
        {{file2_message}}
      </div>
      <div class="modal-footer">
        <button (click)="send_LOA()" class="btn btn-primary" type="button" class="send">Send</button>
      </div>
    </div>
  </div>
</div>

