
.usr{
  color: rgb(0, 129, 138);
}

.pending, .done{
  border: 1px solid white;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 4px 12px;
}
.pending:hover,
.done:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}
.pending:active,
.done:active{
  background-color: rgb(194, 251, 255);
}

.bi-eye-fill{
  font-size: 20px;
  margin-left: 10px;
}
.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}
