body{
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
}

.card{
  margin-top: 70px;
  margin-right: 50px;
}

.wizard-title{
  font-size: 24px;
  color: rgb(0, 129, 138);
}
.doctor-name,
.doctor-spec{
  color: rgb(0, 129, 138);
  font-weight: 500;
  font-size: 18px;
}

#continue{
  color: rgb(0, 129, 138);
  border: 1px solid rgb(0, 129, 138);
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 12px;
}

#continue:hover{
  background-color: rgb(0, 129, 138);
  color: white;
}

#paymentLabel{
  color: rgb(0, 129, 138);
}

span.notfull{
  color: green !important;
}
