<app-header-patient></app-header-patient>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
    <form class="col m-4 p-2" action="">
      <div class="card-body card-min-size ">
        <div class="card">
          <div class="card-body px-4">
            <div class="col py-3">
              Doctor: {{docInfo.fullname}}
              <p>Specialization: {{docInfo.ins}}</p>
            </div>
              <form #form="ngForm" (ngSubmit)="submit(form.value)">
                <div id="schedule-container">
                  <div class="wizard-title">Select Schedule</div>
                  <div class="mt-2">
                    <label>
                      Please fill in required fields
                      <small class="text-danger font-weight-bold">*</small>
                    </label>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Scheduled Date</label>
                        <small class="text-danger font-weight-bold">*</small>
                        <div class="input-group date" id="datepicker">
                          <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" >
                          <div class="input-group-append">
                            <button class="btn btn-outline-success calendar" (click)="d.toggle()" type="button">
                              <span><i class="bi bi-calendar3"></i></span>
                            </button>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Scheduled Time</label>
                        <small class="text-danger font-weight-bold">*</small>
                        <select [(ngModel)]="time" name="time" class="form-select required bg-white" id="scheduled_time">
                          <option value="" selected>Select Time</option>
                          <option *ngFor="let list of timeList" value="{{list.uid}}">
                            {{list.time}}
                            <span class="notfull" *ngIf="list.status!='full'">
                                notfull
                            </span>
                            <span class="full" *ngIf="list.status=='full'">
                                full
                          </span>
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="error_schedule.length > 0" class="alert alert-danger">
                    {{error_schedule}}
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <button type="submit" id="continue">Continue <span><i class="bi bi-arrow-right"></i></span></button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </form>
</div>

<!--payment modal
<div class="modal fade" id="paymentInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paymentLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentLabel">Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <p>sample Text</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="update" data-bs-dismiss="modal">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>-->
