*{
  box-sizing: border-box;
}
.navbar{
  background-color: white;
  height: 70px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.3);
  width: 100% !important;
  position: fixed;
  top:0;
}
.main1{
  font-size: 1.5rem;
  color: rgb(0, 129, 138);
  font-weight: 500;
}
.logo{
  margin-left: 10px;
}

a{
  text-decoration: none;
  list-style-type: none;
}
.bi{
  cursor: pointer;
}
.bi-person-circle{
  color: rgb(0, 129, 138);
  position: relative;
  display: inline-flex;
  padding: 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 50%;
  font-size: 18px;
  margin-left: 4px;
}
.notif-icon{
  color: rgb(0, 129, 138);
  position: relative;
  display: inline-flex;
  padding: 6px 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 50%;
  font-size: 18px;
}

.notif-icon .badge{
  position: absolute;
  top: -43px;
  right: -4px;
  color: red;
  padding: 2px;
  font-size: 62px;
}

.notif-icon .badge:hover{
  cursor: pointer;
}

.bi-person-circle:hover,
.notif-icon:hover{
  transform: scale(1.1);
  transition: ease .25s;
}

/*notification*/
.dropdown{
  position: absolute;
  top: 48px;
  right: 35px;
  background-color: white;
  width: 270px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  cursor: pointer;
  border-radius: 5px;
  height: 520px !important;
  overflow-y: scroll;
}

.notify_info{
  padding: 4px 10px;
  line-height: 20px;
}
.dropdown .notify_item:last-child{
  border-bottom: none;
}
.notify_item:hover{
  background-color: rgb(245, 244, 244);
}

.main{
  color: rgb(0, 129, 138);
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
}
.small{
  color: gray;
  font-size: 15px;
  font-weight: 400;
}
.small-1{
  color: gray;
  font-size: 11px;
}
