body{
  margin: 0;
}
.buttons{
  margin: auto;

  padding: 280px 10px;
  text-align: center;
}
.iam{
  position: absolute;
  top: 35%;
  left: 28%;
  color: rgb(0, 192, 206);
  font-size: 22px;
}
.btn{
  padding: 10px 12px;
  margin-right: 20px;
  color: white;
  background-color: rgb(0, 192, 206);
  font-size: 20px;
}

.btn:hover{
  background-color: rgb(2, 164, 175);
  transform: scale(1.1);
  transition: ease .25s;
}

@media screen and (max-width: 600px){
  body{
    overflow-y: hidden;
  }
  .btn{
    width: 100%;
    margin-bottom: 10px;
  }
  .iam{
    position: absolute;
    top: 40%;
    left: 43%;
  }
}

@media screen and (min-width: 610px)
{
  .buttons{
    margin: auto;
  }
  .btn{
    margin-right: 10px;
  }
}
