<app-header></app-header>
<div class="container">
  <div class="row justify-content-md-center mt-4">
    <form class="mt-4" action="">
      <div class="row justify-content-center">
        <div class="iam p-2">I am...</div>
        <div class="col col-md-3">
          <button  [routerLink]="['/doctor-registration']" type="button" class="bttn1 py-2">
            <span class="button-icon"><i class="bi bi-person-check-fill"></i></span>
            <span class="button-text">Doctor</span>
          </button>
        </div>
        <div class="col-md-3">
          <button  [routerLink]="['/patient-registration']" type="button" class="bttn py-2">
            <span class="button-icon"><i class="bi bi-people"></i></span>
            <span class="button-text">Patient</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
