
.row{
  margin-top: 120px !important;
}
.iam{
  font-weight: lighter;
  color: rgb(2, 164, 175);
}
.bttn1{
  display: inline-flex;
  height: 50px;
  padding: 0;
  background-color: rgb(0, 192, 206);
  border: none;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
}
.bttn{
  display: inline-flex;
  height: 50px;
  padding: 0;
  background-color: rgb(0, 192, 206);
  border: none;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}

.bttn:hover,
.bttn1:hover{
  background-color: rgb(2, 164, 175);
  transform: scale(1.1);
  transition: ease .25s;
}

.bttn:active,
.bttn1:active{
  background-color: rgb(2, 132, 141);
}
.button-icon,
.button-text{
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  color: white;
  height: 100%;
  margin-bottom: 5px;
}

.button-icon{
  font-size: 1.7em;
}
.button-text{
  width: 160px;
}

@media screen and (max-width: 800px){
  body{
    overflow: hidden;
  }
  .row{
    margin-top: 90px !important;
  }
  .bttn1, .bttn{
    margin-bottom: 10px;
  }
  .button-icon,
  .button-text{
    width: 200px;
    margin-bottom: 10px;
  }
  .iam{
    position: absolute;
    top: 25%;
    left: 43%;
  }
}


