<app-header-lab></app-header-lab>

  <div class="row flex-nowrap">
    <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
      <div class="col">
        <p class="usr">Patient LOA</p>
        <div class="whole-trans">
          <div class="row">
            <div *ngFor="let list of labList"  class="col content">
              <div class="info">
                <h5>{{list.fullname}}</h5>
                <p class="mb-1">File Name: {{list.filename}}</p>
                <small>{{list.createdAt}}</small>
              </div>
              <div class="bttn">
                <button (click)="edit_labLOA(list)" class="view" data-bs-toggle="modal" data-bs-target="#view">View</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--view Modal-->
    <div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title">Send LOA</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
          </div>
          <div class="modal-body">
            <button (click)="open()" class="view1 my-2">View File</button> <br> <br>
            <div class="loa">
              <h5 id="editLabel" class="mt-2">Send LOA to {{patientInfo.ins_name}}</h5>
              <p>Choose File: <input (change)="choosefile($event)" type="file"></p>

              <div *ngIf="empty_field" class="alert alert-danger">
                {{empty_field}}
              </div>
              <div *ngIf="empty_ins" class="alert alert-danger">
                {{empty_ins}}
              </div>
              <div *ngIf="added_message" class="alert alert-success">
                {{added_message}}
              </div>

              <span><button (click)="send()" class="send">Send LOA</button></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



