body{
  font-size: 14px;
}
.usr{
  color: rgb(0, 129, 138);
  margin-top: 30px;
}
h5{
  color: rgb(0, 129, 138);
}
.list-group-item{
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: gray !important;
  font-size: 12px;
  padding: 10px 20px;
}

.mb-1{
  font-size: 14px;
  margin-left: 10px;
}
small{
  margin-left: 10px;
}

.whole-trans{
  height: 490px;
  overflow-y: scroll;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 20px;
  width: 1000px;
}

.info{
  float: left;
}

.bttn{
  float: right;
  margin-top: 8px;
}

.view{
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 1rem;
  background-color:rgb(0, 146, 156);
  color: white;
  margin-right: 30px;
}
.view:hover{
  background-color: rgb(0, 129, 138);
}

.view1{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 180px;
  margin-bottom: 20px;
}
.view1:hover{
  background-color: rgb(0, 129, 138);
}
.view1,
.send{
  margin-left: 130px;
}

.send{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 180px;
  margin-top: 10px;
}
.send:hover{
  background-color: rgb(0, 129, 138);
}

.close{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 80px;
}
.close:hover{
  background-color: rgb(211, 0, 0);
}

input{
  padding: 3px 6px;
}

input:focus{
  outline: 0;
}

.loa{
  border-top: 1px solid rgb(243, 243, 243);
}
