<app-header-lab></app-header-lab>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
      <div class="col mx-4">
        <h5 class="usr">Patient LOA</h5>
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of labList"  class="list-group-item flex-column align-items-start mt-3">
            <div class="info">
              <h5>{{list.fullname}}</h5>
              <p class="mb-1">File Name: {{list.filename}}</p>
              <small>{{list.createdAt}}</small>
            </div>
            <div class="bttn">
              <button (click)="edit_labLOA(list)" class="view" data-bs-toggle="modal" data-bs-target="#view">View</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!--view Modal-->
    <div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editLabel">Insurance Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
          </div>
          <div class="modal-body">
            <button (click)="open()" class="view1 mt-2">View File <span><i class="bi bi-eye"></i></span></button>
            <div class="loa">
              <h5 id="editLabel" class="mt-2">Send LOA</h5>
              <select [(ngModel)]="insurance_id" class="form-select" name="insurance_idid=">
                <option value="" selected>Select Insurance</option>
                <option *ngFor="let list of insuranceList" value="{{list.uid}}">{{list.name}}</option>
              </select>
              <p class="mt-4">Filename: &nbsp; <input [(ngModel)]="filename" name="filename" type="text" size="40"></p>
              <p>Choose File: <input (change)="choosefile($event)" type="file"></p>

              <div *ngIf="empty_field" class="alert alert-danger">
                {{empty_field}}
              </div>
              <div *ngIf="empty_ins" class="alert alert-danger">
                {{empty_ins}}
              </div>  
              <div *ngIf="added_message" class="alert alert-success">
                {{added_message}}
              </div>

              <span><button (click)="send()" class="send">Send LOA</button></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



