<app-header-lab></app-header-lab>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
      <div class="col mx-4">
        <h5 class="usr">Patient LOA</h5>
        <ul class="list-group py-2 whole-trans">
          <li class="list-group-item flex-column align-items-start mt-3">
            <div class="info">
              <h5 mb-1>Patient Name</h5>
              <p class="mb-1">File Name: </p>
              <p class="mb-1">Insurance: </p>
              <small>dd-mm-yyyy</small>
            </div>
            <div class="bttn">
              <button class="view" data-bs-toggle="modal" data-bs-target="#view">View</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!--view Modal-->
    <div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editLabel">Insurance Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
          </div>
          <div class="modal-body">
            <button class="view1">View</button>
            <p>Filename: <input type="text" size="30"></p>
            <div>
              <input type="file">
              <span><button class="send">Send LOA</button></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="close" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



