<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-header-doctor></app-header-doctor>
  <div class="row flex-nowrap tbl">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <app-doctor-sidenav></app-doctor-sidenav>
    </div>
    <div class="col mt-4">
      <h5 class="usr">Reservations</h5>
      <div class="set-sched">
        <ejs-schedule height="550px" width="1100px"></ejs-schedule>
      </div>
    </div>
  </div>

</body>
</html>
