<app-header-user></app-header-user>
<app-doctor-sidenav></app-doctor-sidenav>
<div class="row flex-nowrap tbl">
  <div class="col mx-4 py-2 max-vh-100" >
    <div class="d-flex justify-content-between">
      <h3 class="user"><i class=" p-2 fa fa-user-circle"></i> Patient Name</h3>
      <div class=" d-flex justify-content-end">
        <button><i class="fa fa-phone"></i></button>
        <button><i class="fa fa-video-camera"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="row flex-nowrap third-column">
    <div class=" d-flex justify-content-end">
      <h3 class="left-profile"><i class="fa fa-user-circle"></i></h3>
      <h3 class="user left-name">Patient Name</h3>
    </div>
</div>
