.presc, .csummary{
  color: rgb(0, 129, 138);
}
.patient-center{
  margin-top: 50px;
}

.user{
  color: rgb(0, 129, 138);
  padding: 6px;
}

.bi-camera-video-fill,
.bi-send-fill,
.bi-plus-circle-fill
{
  color: rgb(0, 129, 138);
}

#btn{
  border: none;
  outline: none;
  background-color: transparent;
}
.bi-camera-video-fill{
  padding: 4px 10px;
}
.bi-camera-video-fill:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

/*chat*/
img{
  border-radius: 50%;
}
img.from{
  margin-right: 5px;
}
img.to{
  margin-left: 5px;
  float: right;
}

#msg-to{
  border-radius: 40px;
  font-size: 12px;
  background-color: rgb(0, 129, 138);
  opacity: 0.9;
  color: white;
  margin: 3px 0;
  padding: 5px 12px;
  float: right;
  clear: both;
}

/*FROM*/
#msg-from{
  border-radius: 40px;
  font-size: 12px;
  background-color: rgb(235, 235, 235);
  color: rgb(27, 27, 27);
  margin: 3px 0;
  padding: 5px 12px;
  float: left;
  clear: both;
}
.cont-chat{
  height: 430px !important;
  overflow-y: scroll;
}
.below{
  display: inline-flex;
  border-top: 1px solid rgb(233, 230, 230);
  float: right;
}
input{
  font-size: 14px;
}
input:focus{
  outline: 0;
}

.chat-type{
  font-size: 12px;
  padding: 5px 14px;
  width: 730px;
  height: 35px;
  display: inline-block;
  border: 0;
  border-radius: 40px;
  background-color: rgb(235, 235, 235);
}

.chat-type:focus{
  outline: none;
}

.chat-send{
  font-size: 25px;
  background-color: transparent;
  color: white;
  /*border: 1px solid rgb(0, 129, 138);
  border-radius: 3px;*/
  border: 0;
  padding: 4px 10px;
  margin-left: 5px;
  transform: rotate(45deg);
}

.bi-send-fill:hover{
  color: rgb(3, 175, 187);
}

.left-profile{
  position: absolute;
  top: 75px;
  right: 130px;
  overflow: hidden;
}
.left-name{
  position: absolute;
  top: 120px;
  right: 70px;
  overflow: hidden;
}

.doctor-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}
a{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 129, 138);
  height: 30px;
}

a:hover{
  color: darkcyan;
  background-color: rgb(241, 254, 255);
}

.second{
  width: 850px;
  margin: -40px 0 0 -20px;
}

.third{
  border-left: 1px solid rgb(0, 129, 138);
}

.send{
  border: none;
  background-color: rgb(0, 129, 138);
  padding: 5px 20px;
  font-size: 10pt;
  border-radius: 3px;
  color: white;
}
.send:hover{
  background-color: rgb(2, 148, 158);
}

#send-files{
  color: rgb(0, 129, 138);
}


.end{
  border: none;
  border-radius: 3px;
  color: white;
  background-color: red;
  padding: 4px 8px;
}

/*View Files inside the modal*/
.medical,
.lab,
.prescription{
  border: 1px solid white;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 4px 12px;
}
.medical:hover,
.lab:hover,
.prescription:hover
{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}


.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}

.view:hover{
  color: rgb(1, 146, 156);
}
