<app-header-doctor></app-header-doctor>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-doctor-sidenav></app-doctor-sidenav>
  </div>
  <div class="row flex-nowrap second">
    <div class="col">
      <div class="d-flex justify-content-between border-bottom patient-center">
        <h4 class="user mx-2"><img src="{{patientInfo.image}}" width="50" height="50">&nbsp; {{patientInfo.fullname}}</h4>
        <div class=" d-flex">
          <button (click)="video_call()" id="btn"><i class="bi bi-camera-video-fill"></i></button>
        </div>
      </div>
      <!--THIS SECTION IS FOR THE CHAT-->
      <div class="container-fluid cont-chat" *ngIf="chat$ | async as chat">
        <div *ngFor="let msg of chat.messages" role="alert">
          <div *ngIf="msg.uid == userid" id="msg-to">
            <!--<img src="{{imgUrl}}" class="to" width="15" height="15"> -->
            {{msg.content}}
          </div>
          <div *ngIf="msg.uid == patientInfo.uid" id="msg-from">
             <!--<img src="{{patientInfo.image}}" class="from" width="15" height="15"> -->
            {{msg.content}}
          </div>
        </div>
      </div>
      <div class="below">

        <div class="right">
          <input [(ngModel)]="content" type="text" class="chat-type">
          <button (click)="send_message()" class="chat-send"><i class="bi bi-send-fill"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-nowrap third">
    <div class="col mx-0 py-2" >
      <div class=" d-flex justify-content-end">
        <h1 class="left-profile"><img src="{{patientInfo.image}}" width="60" height="60"></h1>
        <h4 class="user left-name">{{patientInfo.fullname}}</h4>
        <div class="doctor-files">
          <a href="#prescription" data-bs-toggle="modal" data-bs-target="#pres" class="prescription1">Prescription</a>
          <a href="#medicalCert" data-bs-toggle="modal" data-bs-target="#medical" class="medical1">Medical Certificate</a>
          <a href="#viewFiles" data-bs-toggle="modal" data-bs-target="#view" class="view-share1">View Shared Files</a>
          <a href="#action" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <span class="actions">Actions<i class="bi bi-caret-down"></i> </span> </a>
          <ul class="collapse nav flex-column ms-2" id="action" data-bs-parent="#menu">
              <li>
                  <a href="javascript:void(0)" (click)="finish_consultation()" class="nav-link px-1 mb-2"> <span class="finish">Finish Consultation</span> </a>
              </li>
              <li>
                  <a href="javascript:void(0)" (click)="cancel_consultation()" class="nav-link px-1"> <span class="cancel">Cancel Consultation</span> </a>
              </li>
          </ul>
          <!--<button class="end">End Consultation <span><i class="bi bi-slash-circle"></i></span></button>-->
        </div>
      </div>
    </div>
  </div>

  <!--start modal view-->
  <div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="send-files">View Shared Files</h3>
          <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <div class="btn-group">
            <button type="button" class="filex" (click)="medicalRecords()">Medical Records</button>
            <button type="button" class="filex" (click)="labResult()">Laboratory Result</button>
            <button type="button" class="filex" (click)="prescription()">Prescription</button>
          </div>
          <!--medical records-->
          <div *ngIf="medicalrecords">
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let list of medList">
                    <td>{{list.createdAt}}</td>
                    <td>{{list.filename}}</td>
                    <td>
                      <button (click)="open(list.file)" class="view" >View <span><i class="bi bi-eye-fill"></i></span></button>
                    </td>
                  </tr>
              </tbody>
          </table>
          </div>
          <!--Laboratory result-->
          <div *ngIf="labresult">
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let list of labList">
                    <td>{{list.createdAt}}</td>
                    <td>{{list.filename}}</td>
                    <td>
                      <button (click)="open(list.file)" class="view">View<span><i class="bi bi-eye-fill"></i></span></button>
                    </td>
                  </tr>
              </tbody>
          </table>
          </div>
          <!--prescription-->
          <div *ngIf="presc">
            <table class="table mt-3">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let list of presList">
                    <td>{{list.createdAt}}</td>
                    <td>{{list.filename}}</td>
                    <td>
                      <button (click)="open(list.file)" class="view" >View <span><i class="bi bi-eye-fill"></i></span></button>
                    </td>
                  </tr>
              </tbody>
          </table>
          </div>

        </div>
        <div *ngIf="error_message.length > 0" class="alert alert-danger">
          {{error_message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="send" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--end modal view-->

  <!--start modal prescription-->
  <div class="modal fade" id="pres" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="send-files">Send files</h3>
          <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p class="presc">Prescription</p>
            <div class="row mx-2">
              <input [(ngModel)]="filename2" type="text" placeholder="File name" accept=".pdf,.doc" class="form-control">
          </div>
          <div class="row mx-0 mt-2">
            <input #file2 type="file" (change)="choosefile($event,'prs')" class="form-control">
          </div>
          <p class="mt-4 csummary">Consultation summary</p>
          <div class="row mx-2">
            <input [(ngModel)]="filename" type="text" placeholder="File name" accept=".pdf,.doc" class="form-control">
          </div>
          <div class="row mx-0 mt-2">
            <input #file type="file" (change)="choosefile($event,'cs')" class="form-control">
          </div>
        </div>
        <div *ngIf="error_message.length > 0" class="alert alert-danger">
          {{error_message}}
        </div>
        <div *ngIf="success_message.length > 0" class="alert alert-success">
          {{success_message}}
        </div>
        <div class="modal-footer">
          <button type="button" class="send" (click)="uploadFile()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <!--end modal prescription-->

  <!--start modal medical certificate-->
  <div class="modal fade" id="medical" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="send-files">Send Medical Certificate</h3>
          <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-2">
            <input [(ngModel)]="sf" type="text" class="form-control" placeholder="Suffer's from">
            <input [(ngModel)]="prsc" type="text" class="form-control" placeholder="Prescriptions">
            <button (click)="generate_MC()" class="btn btn-primary">Generate Medical Certificate</button>
          </div>
          <div class="row mx-2">
              <input [(ngModel)]="filename" type="text" placeholder="File name" class="form-control">
          </div>
          <div class="row mx-0 mt-2 mb-3">
            <input #file type="file" (change)="choosefile2($event)" accept=".pdf,.doc" class="form-control">
          </div>
          <div *ngIf="error_message.length > 0" class="alert alert-danger">
            {{error_message}}
          </div>
          <div *ngIf="success_message.length > 0" class="alert alert-success">
            {{success_message}}
          </div>
          <div class="modal-footer">
            <button (click)="uploadMedical()" type="button" class="send">Send</button>
          </div>
      </div>
    </div>
  </div>
  <!--end modal medical certificate-->



</div>
