.tbl{
  margin-top: -49%;
  margin-left: 150px;
  border: 1px solid rgb(0, 192, 206);
  width: 67%;
}


.user{
  color: rgb(0, 192, 206);
  padding: 6px;
}

.fa-phone, .fa-video-camera, .fa-user-circle{
  color: rgb(0, 192, 206);
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}

button.focus, button:hover{
  color: darkcyan;
}

.left-profile{
  position: absolute;
  top: 75px;
  right: 130px;
  overflow: hidden;
}
.left-name{
  position: absolute;
  top: 120px;
  right: 70px;
  overflow: hidden;
}

.doctor-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}
a{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 192, 206);
  height: 30px;
}

a:hover{
  color: darkcyan;
  background-color: rgb(241, 254, 255);
}
