.presc, .csummary{
  font-size: 18px !important;
  color: #333;
}

.patient-center{
  margin-top: 50px;
}

.user{
  color: rgb(0, 129, 138);
  padding: 6px;
}

.bi-camera-video-fill,
.bi-send-fill,
.bi-plus-circle-fill
{
  color: rgb(0, 129, 138);
}

#btn{
  border: none;
  outline: none;
  background-color: transparent;
}

.bi-camera-video-fill{
  padding: 4px 10px;
}

.bi-camera-video-fill:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  padding: 10px;
}

#btn:hover{
  transform: scale(1.3);
  transition: ease .25s;
}

/*chat*/
img{
  border-radius: 50%;
}

img.from{
  margin-right: 5px;
}

img.to{
  margin-left: 5px;
  float: right;
}

#msg-to{
  border-radius: 50px;
  font-size: 16px;
  background-color: rgb(1, 155, 167);
  opacity: 0.9;
  color: white;
  margin: 15px 5px 10px 0;
  padding: 5px 15px;
  float: right;
  clear: both;
}

/*FROM*/
#msg-from{
  border-radius: 50px;
  font-size: 16px;
  background-color: rgb(235, 235, 235);
  color: rgb(27, 27, 27);
  margin: 15px 5px 10px 0;
  padding: 5px 15px;
  float: left;
  clear: both;
}

.cont-chat{
  height: 430px !important;
  overflow-y: scroll;
}

.below{
  display: inline-flex;
  border-top: 1px solid rgb(233, 230, 230);
  float: right;
}

.form-control,
.form-select{
  border-radius: 50px;
}

.form-control:focus, .form-control:active,
.form-select:focus, .form-select:active {
  outline: none !important;
  box-shadow: none;
  border: 1px solid rgb(0, 174, 187);
}

input{
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 50px;
}

input:focus{
  outline: 0;
}

.chat-type{
  font-size: 16px;
  padding: 5px 14px;
  width: 730px;
  height: 35px;
  display: inline-block;
  border: 0;
  border-radius: 40px;
  background-color: rgb(235, 235, 235);
}

.chat-type:focus{
  outline: none;
}

.chat-send{
  font-size: 25px;
  background-color: transparent;
  color: rgb(0, 129, 138);
  border: 0;
  padding: 4px 10px;
  margin-left: 5px;
  transform: rotate(45deg);
}

.bi-send-fill:hover{
  color: rgb(3, 175, 187);
}

.left-profile{
  position: absolute;
  top: 85px;
  right: 130px;
  overflow: hidden;
}
.left-name{
  position: absolute;
  top: 150px;
  right: 70px;
  overflow: hidden;
}

.doctor-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}

.prescription1,
.medical1,
.view-share1,
.actions{
  font-size: 18px !important;
  font-weight: 400;
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 129, 138);
  height: 30px;
}

.prescription1:hover,
.prescription1:active,
.medical1:hover,
.view-share1:hover,
.actions:hover{
  color: darkcyan;
  background-color: rgb(241, 254, 255);
}

.finish{
  background: linear-gradient(135deg, rgb(6, 189, 0) 0%, rgb(5, 138, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white !important;
  padding: 10px 20px;
  border-radius: 50px;
  width: 120px;
}

.cancel{
  background: linear-gradient(135deg, rgb(255, 77, 23) 0%, rgb(138, 32, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: white !important;
  padding: 10px 20px;
  border-radius: 50px;
  width: 120px;
}

.finish:hover{
  background: rgb(5, 138, 0);
}

.cancel:hover{
  background: rgb(138, 32, 0);
}

.second{
  width: 850px;
  margin: -40px 0 0 -20px;
}

.third{
  border-left: 1px solid rgb(0, 129, 138);
}

.send{
  padding: 7px 10px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 100px;
}

.send:hover{
  background: rgb(0, 129, 138);
}

#send-files{
  color: rgb(0, 129, 138);
}

.end{
  border: none;
  border-radius: 3px;
  color: white;
  background-color: red;
  padding: 4px 8px;
}

/*filex*/
.btn-group .filex:last-child
{
  border-radius: 50px;
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.btn-group .filex:first-child{
  border-radius: 50px;
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.btn-group .filex
{
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  padding: 10px 20px;
}

.btn-group .filex:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .filex:hover{
  border: 1px solid rgb(6, 189, 0);
  background: linear-gradient(135deg, rgb(6, 189, 0) 0%, rgb(5, 138, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  color: white;
}

.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}

.view:hover{
  color: rgb(1, 146, 156);
}


.generate-medcert{
  margin: 30px 10px 30px 80px;
  padding: 7px 10px;
  width: 300px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(135deg, rgb(8, 238, 0) 0%, rgb(5, 138, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.generate-medcert:hover{
  background: rgb(5, 138, 0);
}

