<app-header-doctor></app-header-doctor>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-doctor-sidenav></app-doctor-sidenav>
  </div>
  <div class="row flex-nowrap second">
    <div class="col">
      <div class="d-flex justify-content-between border-bottom patient-center">
        <h4 class="user mx-2"><img src="{{patientInfo.image}}" width="40x" height="40">{{patientInfo.fullname}}</h4>
        <div class=" d-flex">
          <button (click)="video_call()" id="btn"><i class="fa fa-video-camera"></i></button>
        </div>
      </div>
      <!--THIS SECTION IS FOR THE CHAT-->
      <div class="container-fluid cont-chat" *ngIf="chat$ | async as chat">
        <div *ngFor="let msg of chat.messages" role="alert">
          <div *ngIf="msg.uid == userid" id="msg-to">
            <img src="{{imgUrl}}" class="to" width="15" height="15">
            {{msg.content}}
          </div>
          <div *ngIf="msg.uid == patientInfo.uid" id="msg-from">
            <img src="{{patientInfo.image}}" class="from" width="15" height="15">
            {{msg.content}}
          </div>
        </div>
      </div>
      <div class="below">
        <input [(ngModel)]="content" type="text" class="chat-type">
        <button (click)="send_message()" class="chat-send">Send</button>
      </div>
    </div>
  </div>
  <div class="row flex-nowrap third">
    <div class="col mx-0 py-2" >
      <div class=" d-flex justify-content-end">
        <h1 class="left-profile"><img src="{{patientInfo.image}}" width="40" height="40"></h1>
        <h4 class="user left-name">{{patientInfo.fullname}}</h4>
        <div class="doctor-files">
          <a href="#billing">Billing</a>
          <a href="#prescription">Prescription</a>
          <a href="#sharedFiles">Shared Files</a>
        </div>
      </div>
    </div>
  </div>
</div>
