<app-header></app-header>

<div class="container">
  <div class="main">
    <div class="top">
      <h3>Introduction</h3>
      <h5>Welcome to E-Konsulta!</h5>
    </div>

    <div class="content">
      <p>
        These Terms of Service (“Terms”, “Terms of Service”) govern your use of our web and mobile application
        (together or individually “Service”) operated by E-Konsulta.
      </p>
      <p>
        Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose
        information that results from your use of our web pages.
      </p>
    </div>
  </div>

</div>
