body, html {
  height: 100%;
}

#sidenav{
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 183, 196) 0%, rgb(1, 121, 129) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
  width: 190px;
  position: sticky;
  z-index: 99;
  font-size: 14px;
}

.nav-link{
  color: white;
  /*color: rgb(0, 154, 165);*/

}

/*.nav-link:hover{
   background-color: white;
  color: rgb(0, 154, 165)
  color: rgb(173, 251, 255) !important;
}*/

li>.nav-link>span:hover{
  color: rgb(0, 228, 245);
  width: 100%;
}

/*responsive */
@media screen and (max-width: 650px)
{
  #sidenav
  {
    width: 100px;
  }

}
