<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Sidenav</title>
</head>
<body>
  <div class="col-3 col-md-3 col-xl-2 px-sm-1 px-0 min-vh-100" id="sidenav">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
      <ul class="nav fixed nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
          <a routerLink='/doctor-patients' data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="bi bi-people"></i><span class="ms-2 d-none d-sm-inline">Patients</span> </a>
        </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="bi bi-files"></i> <span class="ms-2 d-none d-sm-inline">Reports <i class="bi bi-caret-down"></i> </span> </a>
            <ul class="collapse nav flex-column ms-2" id="submenu2" data-bs-parent="#menu">
                <li>
                    <a routerLink="/doctor-user-analytics" class="nav-link px-1"> <span class="d-none d-sm-inline">Patient Analytics</span> </a>
                </li>
                <li>
                    <a routerLink="/doctor-transaction-history" class="nav-link px-1"> <span class="d-none d-sm-inline">Transaction History</span> </a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink='/doctor-reviews' class="nav-link px-0 align-middle">
              <i class="bi bi-chat-dots"></i> <span class="ms-2 d-none d-sm-inline">Reviews</span></a>
        </li>
        <li>
          <a routerLink="/doctor-set-schedule" class="nav-link px-0 align-middle">
            <i class="bi bi-calendar2-week"></i><span class="ms-2 d-none d-sm-inline">Schedule</span></a>
      </li>
      </ul>
  </div>
</div>

</body>
</html>
