/*body{
  min-height: 100vh;
  background: #f5f5f5;
}
*/

/*login form

.login-page {
  width: 320px;
  margin: auto;
  position: relative;
  top: 150px;
  bottom: 0;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(168, 168, 168, 0.24), 0 5px 5px 0 rgba(156, 156, 156, 0.24);
}
.form input[type=email], .form input[type=password] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=email]:hover,.form input[type=email]:active,.form input[type=email]:focus,
.form input[type=password]:hover,.form input[type=password]:active,.form input[type=password]:focus{
  background: rgb(234, 252, 253);
  color: rgb(0, 129, 138);
}

.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  color: rgb(0, 129, 138);
  background-color: rgb(189, 249, 255);
  font-size: 18px;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(0, 129, 138);
  color: white;
}

a{
  text-decoration: none;
  color: rgb(0, 129, 138);
}
a:hover{
  color: rgb(0, 152, 163);
}

h3{
  color: rgb(0, 129, 138);
  margin-bottom: 30px;
  margin-top: 10px;
}
::placeholder{
  color: rgb(0, 129, 138);
}
*/
/*forgot password
.forgot:hover{
  text-decoration: underline;
}
*/


/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 *,
*::before,
*::after {

  box-sizing: border-box; }

  body{
    min-height: 100vh;
    background: #f5f5f5;
  }

.ftco-section {
  padding: 7em 0;
}

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }

.text-wrap, .login-wrap {
  width: 50%; }
  @media (max-width: 991.98px) {
    .text-wrap, .login-wrap {
      width: 100%; } }

.text-wrap {
  background: rgb(0, 222, 238);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 146, 156) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  color: #fff; }
  .text-wrap .text h2 {
    font-weight: 900;
    color: #fff; }

.login-wrap {
  position: relative;
  background: #fff; }
  .login-wrap h3 {
    font-weight: 300; }

.form-group {
  position: relative; }
  .form-group .label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700; }
  .form-group a {
    color: gray; }

.form-control {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important; }
  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent; }

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2); }

/* Style the checkmark/indicator */
.checkbox-primary {
  color: rgb(0, 129, 138);
}
.checkbox-primary input:checked ~ .checkmark:after {
    color: rgb(0, 149, 175);
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
}

 .btn:hover, .btn:active, .btn:focus {
    outline: none;
  }
.btn.btn-primary {
  background: rgb(0, 129, 138);
  border: none;
  color: #fff;
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
}

.btn.btn-primary:hover {
  border: 1px solid rgb(0, 146, 156);
  background: rgb(0, 146, 156);
  color: #fff;
}
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #fff;
}

.btn.btn-white:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-white.btn-outline-white {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.btn.btn-white.btn-outline-white:hover {
  border: 1px solid transparent;
  background: #fff;
  color: #000;
}

.app-name{
  color: rgb(241, 241, 241);
}

.forgot{
  float: right !important;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 50px;
  text-decoration: none;
}
.forgot:hover{
  text-decoration: underline;

}
