<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
</head>
<body>
  <!--header section -->
  <app-header></app-header>

  <!--Login-->
  <div class="login-page">
    <div class="form">
      <h3>Login</h3>
      <form class="login-form" (ngSubmit)="login()">
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email"/>
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
        <button type="submit" class="nav-item nav-link-edit">login</button>
        <a class="forgot" routerLink='/forgot-password'>Forgot Password?</a>
        <p>or</p>
        <button class="nav-item nav-link-edit" [routerLink]="['/register-as']">REGISTER</button>
      </form>
      <div class="form-group">
        <p *ngIf="errorMessage.length > 0" class="text-danger">
            {{errorMessage}}</p>

        <p *ngIf="error.message.length > 0" class="text-danger">
            {{error.message}} </p>

            <p *ngIf="message.length > 0" class="text-info">
                {{message}} </p>
    </div>
    </div>
  </div>
</body>
</html>
