<div class="col m-4">
  <img src="./assets/images/yoshi.jpg" alt="img" class="profile-pic"  width="150" height="150">
  <div class="lab-info ">
    Id: <br>
    Health Insurance Name: <br>
    Email: <br>
    Health Insurance Address: <br>
    Contact Number: <br>
  </div>
  <div class="lower-part">
    <ul class="list-group py-2 whole-trans">
      <li class="list-group-item flex-column align-items-start" >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span><img src="./assets/images/yoshi.jpg" alt="" width="25" height="25" class="cute-pic"></span> Name</h5>
          <small>10/19/21</small>
        </div>
        <div>
          <p class="mb-1">Health insurance............. review</p>
        </div>
        <div>
          <button class='submit' type="submit" data-bs-toggle="modal" data-bs-target="#toReply">Reply</button>
        </div>
       <!-- <small>Transaction ID</small>-->
      </li>
    </ul>
  </div>
</div>
