<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Transaction History</title>
</head>
<body>
  <!--Header-->
  <app-header-user></app-header-user>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col mx-3 mt-4">
        <div class="whole-trans">
          <div class="top-part">
            <p class="top-text">Transaction</p>
          </div>
          <div style="margin-bottom: 1%;" class="container-fluid">
            <button class="btn btn-info text-right">Transaction History</button>
          </div>
          <div class="row mx-2">
            <div class="col-md-4">
              <input type="text" class="form-control rounded" placeholder="Search PatientName" aria-label="Search">
            </div>
            <div class="col-md-3 .offset-md-3">
              <select [(ngModel)]="status" class="form-select col" name="" id="" (change)="Transactions()">
                <option value="" selected>Select Status</option>
                <option value="done">Done</option>
                <option value="cancel">Cancel</option>
                <option value="pending">Pending</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="" >
                <option value="" selected>Month</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="">
                <option value="" selected>Year</option>
              </select>
            </div>
          </div>

          <div>
            <div class="row mx-2 mt-4">
              <div class="col-md-2">
                <p class="upper">Date</p>
              </div>
              <div class="col-md-2">
                <p class="upper">Patient</p>
              </div>
              <div class="col-md-1">
                <p class="upper">Doctor</p>
              </div>
              <div class="col-md-2">
                <p class="upper">Schedule</p>
              </div>
              <div class="col-md-1">
                <p class="upper">Fee</p>
              </div>
              <div class="col-md-1">
                <p class="upper upper-trans">Transaction ID</p>
              </div>
              <div class="col-md-1">
                <p class="upper">Status</p>
              </div>
              <div class="col-md-1">
                <p class="upper">Action</p>
              </div>
            </div>

            <div *ngFor="let list of tranList" class="row justify-content-evenly mx-2">
              <div class="col-md-2">
                <p class="content">{{list.updatedAt}}</p>
              </div>
              <div class="col-md-2">
                <p class="content">{{list.patient_name}}</p>
              </div>
              <div class="col-md-1">
                <p class="content">{{list.doctor_name}}</p>
              </div>
              <div class="col-md-2">
                <p class="content">{{list.Schedule}}</p>
              </div>
              <div class="col-md-1">
                <p class="content">{{list.Amount}}</p>
              </div>
              <div class="col-md-1">
                <p class="content-trans">{{list.uid}}</p>
              </div>
              <div class="col-md-1">
                <p *ngIf="list.status=='pending'" class="content content-success">Pending</p>
                <div *ngIf="list.status=='done' || list.status == 'cancel'">
                  <p *ngIf="list.status=='done'" class="content content-success">Successful</p>
                  <p *ngIf="list.status=='cancel'"  class="content content-cancel">Cancellecation</p>
                </div>
              </div>
              <div class="col-md-1">
                <button *ngIf="list.status=='done'" class="paid">Pay <span><i class="bi bi-check2"></i></span></button>
                <button *ngIf="list.status=='cancel'" class="btn-danger">Cancel</button>
              </div>
            </div>
          </div>


        </div>

        <!--
        <h5 class="usr">Transaction History</h5>
        <div class="btn-group mt-3">
          <button class="pending" (click)="pendingFunction()">Pending</button>
          <button class="cancelled" (click)="cancelledFunction()">Cancelled</button>
        </div>
        <div *ngIf="sent_message" class="alert alert-success">Successfully Sent!</div>
        <div *ngIf="pending">
          <ul class="list-group py-2 whole-trans">
            <li *ngFor="let list of tranList" class="list-group-item flex-column align-items-start mt-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="name">{{list.Specialization}}: {{list.doctor_name}}</h5>
                <button (click)="send_notif(list)" class="paid">Pay <span><i class="bi bi-check2"></i></span></button>
                <small>{{list.createdAt}}</small>
              </div>
              <div>
                <p class="mb-1 mt-1">A patient named {{list.patient_name}} paid an amount of {{list.Amount}} as a payment for one consultation.</p>
                <p class="mb-1">Patient ID: {{list.patient_id}}</p>
                <p class="mb-1">Consultation Schedule: {{list.Schedule}}</p>
                <p class="mb-1">Consultation Fee: {{list.Amount}}</p>
              </div>
              <small>Transaction ID: {{list.uid}}</small>
            </li>
          </ul>
        </div>
        <div *ngIf="cancelled">
          <ul class="list-group py-2 whole-trans">
            <li *ngFor="let list of cancelled_list" class="list-group-item flex-column align-items-start mt-3">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="name">{{list.patient_name}}</h5>
                <button (click)="send_notif2(list)" class="paid">Pay<span><i class="bi bi-check2"></i></span></button>
                <small>{{list.createdAt}}</small>
              </div>
              <div>
                <p class="mb-1 mt-1">A patient named {{list.patient_name}} paid an amount of {{list.Amount}} as a payment for one consultation.</p>
                <p class="mb-1">Patient ID: {{list.patient_id}}</p>
                <p class="mb-1">Consultation Schedule: {{list.Schedule}}</p>
                <p class="mb-1">Consultation Fee: {{list.Amount}}</p>
              </div>
              <small>Transaction ID: {{list.uid}}</small>
            </li>
          </ul>
        </div>
      -->
      </div>
    </div>

</body>
</html>
