<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Transaction History</title>
</head>
<body>
  <!--Header-->
  <app-header-user></app-header-user>
    <div class="row flex-nowrap">
      <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col mt-4">
        <div class="whole-trans">
          <div class="top-part">
            <p class="top-text">Transactions</p>
          </div>
          <div style="margin-bottom: 1%;" class="container-fluid">
            <button *ngIf="transac" (click)="tabFunction('th')" class="transc-his">Transaction History</button>
            <button *ngIf="!transac" (click)="tabFunction('t')" class="transc">Transaction</button>
          </div>
          <div class="row mx-2">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Search PatientName" aria-label="Search">
            </div>
            <div class="col-md-3 .offset-md-3">
              <select [(ngModel)]="status" class="form-select col" name="" id="" (change)="Transactions()">
                <option value="" selected>Select Status</option>
                <option value="done">Done</option>
                <option value="cancel">Cancel</option>
                <option value="pending">Pending</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="" >
                <option value="" selected>Month</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="">
                <option value="" selected>Year</option>
              </select>
            </div>
          </div>

          <div *ngIf="transac">
            <div class="row g-0 mt-4">
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Date</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Patient</p>
              </div>
              <div class="col-md-1">
                <p class="upper text-center border-bottom">Doctor</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Schedule</p>
              </div>
              <div class="col-md-1">
                <p class="upper text-center border-bottom">Fee</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">XID</p>
              </div>
              <div class="col-md-1">
                <p class="upper text-center border-bottom">Status</p>
              </div>
              <div class="col-md-1">
                <p class="upper text-center border-bottom">Action</p>
              </div>
            </div>

            <div *ngFor="let list of tranList" class="row g-0 justify-content-evenly">
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.updatedAt}}</p>
              </div>
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.patient_name}}</p>
              </div>
              <div class="col-md-1">
                <p class="content text-center border-bottom">{{list.doctor_name}}</p>
              </div>
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.Schedule}}</p>
              </div>
              <div class="col-md-1">
                <p class="content text-center border-bottom">{{list.Amount}}</p>
              </div>
              <div class="col-md-2">
                <p class="xid text-center border-bottom">{{list.uid}}</p>
              </div>
              <div class="col-md-1">
                <p *ngIf="list.status=='pending'" class="content content-success text-center border-bottom">Pending</p>
                <div *ngIf="list.status!='pending'">
                  <p *ngIf="list.status=='done'" class="content content-success text-center border-bottom">Successful</p>
                  <p *ngIf="list.status=='cancel'"  class="content content-cancel text-center border-bottom">Cancellation</p>
                  <p *ngIf="list.status=='noshow'"  class="content content-cancel text-center border-bottom">No Show</p>
                </div>
              </div>
              <div class="col-md-1">
                <button (click)="open_modalPay(list)"*ngIf="list.status=='done'" class="paid btn-sm text-center border-bottom" data-bs-toggle="modal" data-bs-target="#paymentModal">Pay <span><i class="bi bi-money"></i></span></button>
                <button (click)="open_modalPay(list)" *ngIf="list.status=='noshow'" class="cancel btn-sm border-bottom" data-bs-toggle="modal" data-bs-target="#paymentModal">No Show</button>
                <button (click)="open_modalCancel(list)" *ngIf="list.status=='cancel'" class="cancel btn-sm border-bottom" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancel</button>
              </div>
            </div>
          </div>

          <div *ngIf="transac_his">
            <div class="row g-0 mt-4">
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Date</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Patient</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Doctor</p>
              </div>
              <div class="col-md-1">
                <p class="upper text-center border-bottom">Amount</p>
              </div>
              <div class="col-md-3">
                <p class="upper text-center border-bottom">XID</p>
              </div>
              <div class="col-md-2">
                <p class="upper text-center border-bottom">Status</p>
              </div>
            </div>

            <div *ngFor="let list of tranHis" class="row g-0 justify-content-evenly">
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.createdAt}}</p>
              </div>
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.patient_name}}</p>
              </div>
              <div class="col-md-2">
                <p class="content text-center border-bottom">{{list.doctor_name}}</p>
              </div>
              <div class="col-md-1">
                <p class="content text-center border-bottom">{{list.Amount}}</p>
              </div>
              <div class="col-md-3">
                <p class="content text-center border-bottom">{{list.uid}}</p>
              </div>
              <div class="col-md-2">
                <div *ngIf="list.status!='pending'">
                  <p *ngIf="list.status=='done'" class="content content-success text-center border-bottom">Successful</p>
                  <p *ngIf="list.status=='cancel'"  class="content content-cancel text-center border-bottom">Cancelled</p>
                  <p *ngIf="list.status=='noshow'"  class="content content-cancel text-center border-bottom">No Show</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Refund</h5>
                <button id="closeCancel" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="icon mb-4">
                  <img src="./assets/images/ekIcon1.ico" alt="" width="60" height="60">
                  <span class="main ms-2">E-KONSULTA</span>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>Name:</p>
                  </div>
                  <div class="col-md-8">
                    <p>{{payerInfo.patient_name}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>Schedule:</p>
                  </div>
                  <div class="col-md-8">
                    <p>{{payerInfo.consultation_schedule}} {{payerInfo.Schedule}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>Transaction ID:</p>
                  </div>
                  <div class="col-md-8">
                    <p>{{payerInfo.uid}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>Amount:</p>
                  </div>
                  <div class="col-md-8">
                    <p>{{payerInfo.Amount}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p>Deduction:</p>
                  </div>
                  <div class="col-md-8">
                    <p>{{payerInfo.deductions}} (Cancellation Fee)</p>
                  </div>
                </div>
              </div>
              <div class="paypal" #paypal>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="payment" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Payment</h5>
                <button id="closeCancel2" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <p>Name: {{payerInfo.doctor_name}} </p>
               <p>Schedule: {{payerInfo.consultation_schedule}} {{payerInfo.Schedule}}</p>
               <p>Patient: {{payerInfo.patient_name}}</p>
               <p>transaction ID: {{payerInfo.uid}}</p>
               <p>Amount: {{payerInfo.Amount}}</p>
               <p>Deduction: {{payerInfo.deductions}} (Cancellation Fee)</p>
               <p>Net Pay: {{payerInfo.net_income}}</p>
              </div>
              <div #paypal2>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

</body>
</html>
