*
{
  box-sizing: border-box;
}
.pay{
  width: 400px;
  margin: auto;
}
.wizard-title{
  font-size: 24px;
  color: rgb(0, 129, 138);
}
.card{
  margin-top: 70px;
}
#submit{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 80px;
}

#submit:hover{
  background-color: rgb(0, 129, 138);
}

p, #terms{
  font-size: 12px;
}
#terms
{
  color: rgb(0, 129, 138);
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

#termsLabel{
  color: rgb(0, 129, 138);
}

#terms:hover{
  text-decoration: underline;
}

/*modal*/
.close
{
  border:none;
  padding: 5px 20px;
  font-size: 10pt;
  border-radius: 3px;
}
.close{
  border: 1px solid maroon;
  border-radius: 3px;
  background-color:white;
  color: maroon;
}

/*insurance button*/
.insurance{
  border: none;
  border-radius: 3px;
  padding: 30px 150px;
  font-weight: 300;
  font-size: 1.7rem;
  background-color: rgb(0, 129, 138);
  color: white;
}

.insurance:hover{
  background-color: rgb(0, 121, 129);
}
