<app-header-patient></app-header-patient>
<div class="row flex-nowrap">
  <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
    <form class="col p-2" action="">
      <div class="card-body card-min-size ">
        <div class="card">
          <div class="card-body px-4">
              <div id="schedule-container">
                <div class="wizard-title">Payment Methods</div>
                <div class="row mt-4 mb-4">
                  <div class="col-md-6">
                    <div class="pay">
                      <div #paypal>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button (click)="insurance_pay()" class="insurance">
                      Insurance
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="paidFor" class="alert alert-success">
                    Payment Successful! Click Submit Now!
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="error_book.length > 0" class="alert alert-danger">
                    {{error_book}}
                  </div>
                </div>
                <div class="row-md-4">
                  <div class="col-md-8 mt-4">
                    <p class="note">*Cancellation of booking allows you to get a refund, subject to a 20% Cancellation Fee. </p>
                    <p class="note">*Inability to show up to a scheduled consultation without prior cancellation will not be eligible for refunds.
                    </p>
                    <p>By clicking "Submit", you agree to these terms.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <button (click)="book()" id="submit">Submit</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
</div>

