*
{
  box-sizing: border-box;
}
.pay{
  width: 400px;
  margin: auto;
}
.wizard-title{
  font-size: 24px;
  color: rgb(0, 129, 138);
}
.card{
  margin-top: 70px;
}
#submit{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 80px;
}

#submit:hover{
  background-color: rgb(0, 129, 138);
}
.note{
  font-size: 13px;
  font-style: italic;
  color: #333;
}
/*insurance button*/
.insurance{
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-weight: 500;
  width: 400px;
  font-size: 1.3rem;
  background-color: rgb(240, 240, 240);
  color: rgb(0, 146, 156);

}

.insurance:hover{
  background-color: rgb(230, 230, 230);
}
