<app-header-patient></app-header-patient>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
  <div class="row flex-nowrap second">
    <div class="col">
      <div class="d-flex justify-content-between border-bottom patient-center">
        <h4 class="user mx-2"><img src="{{docInfo.image}}" alt="" width="40" height="40">&nbsp; {{docInfo.fullname}}</h4>
        <div class=" d-flex ">
          <button (click)="video_call()" id="btn"><i class="bi bi-camera-video-fill"></i></button>
        </div>
      </div>
      <!--THIS SECTION IS FOR THE CHAT-->
      <div class="container-fluid cont-chat" *ngIf="chat$ | async as chat">
        <div *ngFor="let msg of chat.messages">
          <div *ngIf="msg.uid == userid" id="msg-to" role="alert">
            {{msg.content}}
            <img  *ngIf="msg.uid == userid" class="to" src="{{imgUrl}}" width="15" height="15">
          </div>
          <div *ngIf="msg.uid == docInfo.uid" id="msg-from" role="alert">
            <img  *ngIf="msg.uid == docInfo.uid" src="{{docInfo.image}}" class="from" width="15px" height="15px">
            {{msg.content}}
          </div>
        </div>
      </div>
      <div class="below">
        <div class="right">
          <input [(ngModel)]="content" type="text" class="chat-type">
          <button (click)="send_message()" class="chat-send"><i class="bi bi-send-fill"></i></button>
        </div>
        <!--<button (click)="send_message()" class="chat-send">Send</button> -->
      </div>
    </div>
  </div>
  <div class="row flex-nowrap third">
    <div class="col mx-0 py-2" >
      <div class=" d-flex justify-content-end">
        <h1 class="left-profile"><img src="{{docInfo.image}}" alt="" width="40" height="40"></h1>
        <h4 class="user left-name">{{docInfo.fullname}}</h4>
        <div class="patient-files">
          <a href="#sharedFiles" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <span>Files<i class="bi bi-caret-down"></i> </span>
          </a>
          <ul class="collapse nav flex-column ms-2" id="sharedFiles">
            <li>
                <a href="#sharedFiles" class="nav-link px-1" data-bs-toggle="modal" data-bs-target="#share" > <span class="d-none d-sm-inline">Share Files</span> </a>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--start shared files modal-->
<div class="modal fade" id="share" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="send-files">View Shared Files</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <div class="btn-group">
          <button type="button" class="medical" (click)="medicalRecords()">Medical Records</button>
          <button type="button" class="lab" (click)="labResult()">Laboratory Result</button>
          <button type="button" class="prescription" (click)="prescription()">Prescription</button>
        </div>
        <!--medical records-->
        <div *ngIf="medicalrecords">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="view" >View <span><i class="bi bi-eye-fill"></i></span></button>
                    <label>Select
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!--Laboratory result-->
        <div *ngIf="labresult">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Date</th>
                <th>From</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="view">View<span><i class="bi bi-eye-fill"></i></span></button>
                    <label>Select
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!--prescription-->
        <div *ngIf="presc">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="view" >View <span><i class="bi bi-eye-fill"></i></span></button>
                    <label>Select
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="share">Share</button>
      </div>
    </div>
  </div>
</div>
<!--end shared files modal-->

