.presc, .csummary{
  color: rgb(0, 129, 138);
}
.patient-center{
  margin-top: 50px;
}

.user{
  color: rgb(0, 129, 138);
  padding: 6px;
}

#btn{
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}

.bi-camera-video-fill{
  padding: 4px 10px;
}

.bi-camera-video-fill:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

/*chat*/
img{
  border-radius: 50%;
}

img.from{
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

img.to{
  margin-left: 5px;
  float: right;
}

#msg-to{
  border-radius: 50px;
  font-size: 16px;
  background-color: rgb(1, 155, 167);
  opacity: 0.9;
  color: white;
  margin: 15px 5px 10px 0;
  padding: 5px 15px;
  float: right;
  clear: both;
}

/*FROM*/
#msg-from{
  border-radius: 50px;
  font-size: 16px;
  background-color: rgb(235, 235, 235);
  color: rgb(27, 27, 27);
  margin: 15px 5px 10px 0;
  padding: 5px 15px;
  float: left;
  clear: both;
}

.cont-chat{
  height: 430px !important;
  overflow-y: scroll;
}

.below{
  display: inline-flex;
  border-top: 1px solid rgb(233, 230, 230);
  float: right;
}

input{
  font-size: 16px;
}

input:focus{
  outline: 0;
}

/*hide choose file*/
input[type=file]::file-selector-button{
  display: none;
}

.chat-type{
  font-size: 16px;
  padding: 5px 14px;
  width: 730px;
  height: 35px;
  display: inline-block;
  border: 0;
  border-radius: 40px;
  background-color: rgb(235, 235, 235);
}

.chat-type:focus{
  outline: none;
}

.chat-send{
  font-size: 25px;
  background-color: transparent;
  color: rgb(0, 129, 138);
  border: 0;
  padding: 4px 10px;
  margin-left: 5px;
  transform: rotate(45deg);
}

.bi-send-fill:hover{
  color: rgb(3, 175, 187);
}

.left-profile{
  position: absolute;
  top: 85px;
  right: 130px;
  overflow: hidden;
}
.left-name{
  position: absolute;
  top: 150px;
  right: 70px;
  overflow: hidden;
}

.doctor-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}
a{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 129, 138);
  height: 30px;
}

a:hover{
  color: darkcyan;
  background-color: rgb(241, 254, 255);
}

.second{
  width: 850px;
  margin: 30px 0 0 -20px;
}

.third{
  border-left: 1px solid rgb(0, 129, 138);
}

.share{
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  color: white;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 77%;
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.share:hover{
  background-color: rgb(0, 129, 138);
}

#send-files{
  color: rgb(0, 129, 138);
}

.share-file{
  font-size: 18px !important;
  font-weight: 400;
}

.patient-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}

/*filex*/
.btn-group .filex:last-child
{
  border-radius: 50px;
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.btn-group .filex:first-child{
  border-radius: 50px;
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.btn-group .filex
{
  border: 1px solid rgb(0, 145, 0);
  color: rgb(0, 145, 0);
  background-color: white;
  padding: 10px 20px;
}

.btn-group .filex:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .filex:hover{
  border: 1px solid rgb(6, 189, 0);
  background: linear-gradient(135deg, rgb(6, 189, 0) 0%, rgb(5, 138, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  color: white;
}

.bi-eye-fill{
  font-size: 20px;
  margin-left: 10px;
}
.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
  margin-right: 40px;
  border-right: 1px solid rgb(207, 207, 207);
  padding-right: 5px;
}

.view:hover{
  color: rgb(1, 146, 156);
}

label,
input[type=checkbox]{
  color: rgb(1, 146, 156);
}

/*modal in calling*/
.accept,
.decline{
  border: none;
  background-color: transparent;
  font-size: 90px;
}

.accept{
  color: green;
}
.accept:hover{
  color: rgb(1, 112, 1);
}
.decline{
  color: red;
}
.decline:hover{
  color: rgb(218, 0, 0);
}
.dc,
.ac{
  margin-left: 20px !important;
  font-size: 1.1rem;
}
#staticBackdropLabel{
  color: rgb(0, 129, 138);
  font-size: 1.2rem !important;
}
