<app-header-doctor></app-header-doctor>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
  <div class="row flex-nowrap second">
    <div class="col">
      <div class="d-flex justify-content-between border-bottom patient-center">
        <h4 class="user mx-2"><i class="fa fa-user-circle"></i> Patient Name</h4>
        <div class=" d-flex ">
          <button><i class="fa fa-phone"></i></button>
          <button><i class="fa fa-video-camera"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-nowrap third">
    <div class="col mx-0 py-2" >
      <div class=" d-flex justify-content-end">
        <h1 class="left-profile"><i class="fa fa-user-circle"></i></h1>
        <h4 class="user left-name">Doctor Name</h4>
        <div class="patient-files">
          <a href="#payment">Payment</a>
          <a href="#sharedFiles">Shared Files</a>
        </div>
      </div>
    </div>
  </div>
</div>

