
.patient-center{
  margin-top: 50px;

}

.user{
  color: rgb(0, 129, 138);
  padding: 6px;
}

.bi{
  color: rgb(0, 129, 138);
}

#btn{
  border: none;
  outline: none;
  background-color: transparent;
  padding: 4px 10px;
}
.bi-camera-video-fill{
  padding: 4px 10px;
}
.bi-camera-video-fill:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}
/*chat*/
img{
  border-radius: 50%;
}
img.from{
  margin-right: 5px;
}
img.to{
  margin-left: 5px;
  float: right;
}

#msg-to{
  border-radius: 50px;
  font-size: 12px;
  background-color: rgb(0, 129, 138);
  opacity: 0.9;
  color: white;
  margin: 3px 0;
  padding: 5px 12px;
  float: right;
  clear: both;
}

/*FROM*/
#msg-from{
  border-radius: 50px;
  font-size: 12px;
  background-color: rgb(235, 235, 235);
  color: rgb(27, 27, 27);
  margin: 3px 0;
  padding: 5px 12px;
  float: left;
  clear: both;
}
.cont-chat{
  height: 450px !important;
  overflow-y: scroll;
}

.below{
  display: inline;
  border-top: 1px solid black;
}

.image-upload > input
{
  display: none;
}

.image-upload i
{
  width: 80px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 16px;
}
.image-upload,
.right{
  float: left;
  margin-top: 20px;
}

.chat-type{
  font-size: 12px;
  padding: 5px 10px;
  width: 700px;
  margin-left: 5px;
  display: inline-block;
  border: 0;
  background-color: rgb(235, 235, 235);
}

.chat-type:focus{
  outline: none;
}

.chat-send{
  font-size: 14px;
  background-color: transparent;
  color: white;
  /*border: 1px solid rgb(0, 129, 138);
  border-radius: 3px;*/
  border: 0;
  padding: 4px 10px;
  margin-left: 5px;
}

.chat-send:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.left-profile{
  position: absolute;
  top: 75px;
  right: 130px;
  overflow: hidden;
}
.left-name{
  position: absolute;
  top: 120px;
  right: 70px;
  overflow: hidden;}

.patient-files{
  position:absolute;
  top: 200px;
  right: 0px;
  width: 285px;
}
a{
  display: flex;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 129, 138);
  height: 30px;
}

a:hover{
  color: darkcyan;
  background-color: rgb(241, 254, 255);
}

.second{
  width: 850px;
  margin: -30px 0 0 -20px;
}

.third{
  border-left: 1px solid rgb(0, 129, 138);
}
