<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOA</title>
</head>
<body>
  <div class="whole">
    <div id="content" class="container d-flex justify-content-center">
      <div class="content mx-5">
        <p class="mb-5">{{datas.today}} </p>
        <div class="second mb-5">
          <p class="contact">{{datas.contact_number}}</p>
          <p class="insurance">{{datas.name}}</p>
          <p>{{datas.address}}</p>
        </div>
        <div class="third mb-5">
          <p>Patient Name: {{datas.patient_name}}</p>
          <p>Policy Number: [Insert policy number.]</p>
          <p>Group Number: [Insert group number.]</p>
        </div>
        <div class="fourth mb-5">
          <p class="mb-4">Dear {{datas.lab}}:</p>
          <div class="fourth-1">
            <p class="text-justify">I am writing on behalf of my patient, {{datas.patient_name}}, to request coverage and appropriate payment
              for [Laparoscopic Adjustable Gastric Banding (LAGB)/Gastric Bypass (GB)/Sleeve Gastrectomy]. This letter provides
              information on the patient’s diagnosis and treatment, as well as product literature demonstrating
              medical necessity for the [LAGB/GB/Sleeve Gastrectomy] and associated procedures.</p>
              <p class="text-justify">Predetermination/certification of insurance coverage, and authorization for hospitalization and
                surgical treatment, are requested on behalf of [patient name] for diagnoses of [can include as applicable,
                examples: hypertension (401.1), diabetes mellitus (250.00), GERD (530.81), heartburn (787.1), sleep apnea (780.57), arthralgias of
                weight bearing joints (719.49)]. The patient’s general condition, suffering from multiple diagnoses, is
                complicating the underlying clinically severe morbid obesity (278.01).</p>
          </div>
          <div class="fourth-2">
            <p class="text-justify">
              I am requesting authorization for [LAGB/GB/Sleeve Gastrectomy]. (Insert relevant CPT surgical code and description;
              e.g., 43770 – Laparoscopy, surgical, gastric restrictive procedure; placement of adjustable gastric band (gastric band and
              subcutaneous port components)) to be performed for the treatment of the patient’s severe and life threatening diseases.
              The procedure will be performed at [hospital/facility name]. Without this
              procedure, it is my opinion that significant problems could develop that will result in future
              costly hospitalization(s).
            </p>
          </div>
          <div class="fourth-3">
            <p class="text-justify">
              This individual is [height], weighs [weight], and has a Body Mass Index of [insert BMI here]. [He/She] has
               been severely obese for a number of years despite many years of dietary efforts, including the
                use of dietary programs such as [provide complete history of tried and failed weight loss management treatment and
                programs]. [He/She] has lost weight greater than [XX] pounds [XX] times; [he/she] has been unable to
                achieve a healthful body by dietary restrictions.
            </p>
          </div>
          <div class="fourth-4">
            <p class="text-justify">
              These conditions predictably will, along with other problems that characteristically appear,
              become increasingly incapacitating in the absence of significant weight loss. Because medical
              management has failed to produce and maintain weight loss for this patient, I strongly believe
              bariatric surgery is necessary in order to successfully resolve or ameliorate the multiple medical
              problems associated with [his/her] morbid obesity
            </p>
          </div>
          <div class="fourth-5">
            <p class="text-justify">
              As I have reviewed all options with the patient through informed consent, [he/she] has good
            understanding of the [LAGB/GB/Sleeve Gastrectomy] procedure and its risks and complications, and has
            determined that [LAGB/GB/Sleeve Gastrectomy] is the best option for [him/her]. Additionally,
            [he/she] has agreed to monthly support group meetings for at least one year postoperatively.
            </p>
          </div>
          <div class="fourth-6">
            <p class="text-justify">
              I most strongly request that you clear your annuitant for coverage. [His/Her] diseases are
              progressive and life threatening. I am asking for an efficient and timely review of this case. I am
              requesting from you in writing a pre-authorization for inpatient surgery.
            </p>
          </div>
        </div>
        <div class="fifth mt-5">
          <p>Sincerely, </p>
          <p class="mt-4">{{datas.name}}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
