<app-header-doctor></app-header-doctor>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
     <app-doctor-sidenav></app-doctor-sidenav>
    </div>
      <!--2nd column-->
      <div class="col-3 mt-4 first">
        <div class="main-profile">
          <button *ngIf="profile_changed" class="successful"><span>Profile Changed!</span></button>
          <img src="{{imgUrl}}" alt="img" class="profile-pic" width="180" height="180"> <br>
          <div class="imagee">
            <span title="Click to Upload"><button type="button" (click)="uploadImage()" class="upload"><i class="bi bi-cloud-arrow-up-fill"></i></button></span>
            <input type="file" (change)="choosefile($event)" class="custom-file-input">
            <span *ngIf="file" class="selection-done"><i class="bi bi-check-circle-fill"></i></span>
          </div>
          <h3 class="doctor">{{info.fullname}}</h3>
        </div>
      </div>
      <div class="col-5 mt-4 second">
        <div class="information">
          <p>Name: <span class="info info-1">{{info.fullname}}</span></p>
          <p>Email: <span class="info info-2">{{info.email}}</span></p>
          <p>Date of Birth: <span class="info info-3">{{info.dob}}</span></p>
          <p>Contact Number: <span class="info info-4">{{info.contact_number}}</span></p>
          <p>Address: <span class="info info-5">{{info.address}}</span></p>
          <p>License Number: <span class="info info-6">{{info.license_number}}</span></p>
          <p>Specialization: <span class="info info-7">{{spInfo.name}}</span></p>
          <button (click)="edit()" class="edit" id="edit"  data-bs-toggle="modal" data-bs-target="#editInfo">EDIT</button>
          <button class="cfee" data-bs-toggle="modal" data-bs-target="#cfeeBt">CONSULTATION FEE</button>
        </div>
      </div>
      <div class="col-2 third">
        <button class="logout" id="logout" data-bs-toggle="modal" data-bs-target="#logOut"> LOG OUT<span><i class="bi bi-box-arrow-right"></i></span></button>
      </div>
  </div>

<!--Edit Modal-->
<div class="modal fade" id="editInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <form #form="ngForm" (ngSubmit)="update(form.value)">
        <div class="modal-body">
          <p>Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.fullname" name="fullname" type="text" size="45">
          </p>
          <p>
            Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.email" name="email" type="text" size="45" readonly>
          </p>
          <p>
            Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.password" name="password" type="text" size="45">
          </p>
          <p>
            Date of Birth:  &nbsp;&nbsp; <input [(ngModel)]="model.dob" name="dob" type="date">
          </p>
          <p>
            Contact #: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.contact_number" name="contact_number" type="text" size="45">
          </p>
          <p>
            Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.address" name="address" type="text" size="45">
          </p>
          <p>
            License #:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="model.license_number" name="license_number" type="text" size="45">
          </p>
          Specialization: &nbsp;<select [(ngModel)]="model.specialization" name="specialization" id="">
            <option value="{{model.specialization}}" selected>{{spInfo.name}}</option>
            <option *ngFor="let list of spList" value="{{list.uid}}">{{list.name}}</option>
          </select>
          <button class="deletion" data-bs-toggle="modal" data-bs-target="#accDeletion"> ACCOUNT DELETION <span><i class="bi bi-exclamation-circle"></i></span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="update" data-bs-dismiss="modal">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--end of edit modal-->

<!--Logout Modal-->
<div class="modal fade" id="logOut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Log out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button [routerLink]="['/doctor-profile']" type="button" class="no" data-bs-dismiss="modal">No</button>
        <button (click)="logout()" type="button" class="yes" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--end of logout modal-->

<!-- start Fee Modal-->
<div class="modal fade" id="cfeeBt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Consultation Fee</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Set Fee: &nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="fee" name="fee" type="number" size="45"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
        <button (click)="update_fee()" type="button" class="set" data-bs-dismiss="modal">Set</button>
      </div>
    </div>
  </div>
</div>
<!--end Fee Modal-->

<!--start of deletion modal-->
<div class="modal" id="accDeletion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Account Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p class="deletion-content">This is permanent. When you delete this account, you won't be able to retrieve the content or information.
          Your chat,  transactions and medical records will also be deleted.</p>
        <p>Are you sure you want to delete your account?</p>
      </div>
      <div class="modal-footer">
        <button [routerLink]="['/doctor-profile']" type="button" class="no" data-bs-dismiss="modal">No</button>
        <button type="button" class="yes" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
<!--end of deletion modal-->

