body{
  overflow: hidden;
}

/* DOCTOR */
.doctor{
  color: rgb(0, 129, 138);
  padding: 12px 4px;
  text-align: left;
  margin-left: 60px;
}

.profile-pic{
  /*border-radius: 50%;*/
  margin: 10px 10px 10px 80px;
  cursor: pointer;
}
.col-10{
  margin: 30px 0px 0px 35px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  height: 540px;
}

.info{
  line-height: 42px;
  position: absolute;
  top: 95px;
  right: 490px;
}
.btn, ::placeholder,.info{
  font-size: 14px !important;
}

.buttons-right{
  position: absolute;
  bottom: 50px;
  right: 460px;
}
#edit{
  margin-right: 10px;
}

#editLabel{
  color: rgb(0, 192, 206);
}
/*
#doctor-container{
  position: absolute;
  border: 1px solid rgb(0, 192, 206);
  padding: 20px;
  left: 215px;
  width: 82%;
  top: 80px;
  overflow-y: auto;
  max-height: 100%;
} */

select{
  width: 330px;
  padding: 3px;
}

input, textarea{
  padding: 3px 6px;
}

.btn, ::placeholder,.info{
  font-size: 14px !important;
}

input [type=date]{
  width: 300px !important;
}

