<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Doctor</title>
</head>
<body>
 <app-header-user></app-header-user>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col col-sm-offset-3 py-4 mx-3">
        <h5 class="doctor">Doctors</h5>
        <div class="row">
          <div class="col">
            <div class="btn-group mt-2">
              <button (click)="isVerified_Doc('pending')" type="button" class="pending">Pending</button>
              <button (click)="isVerified_Doc('verified')" type="button" class="verified">Verified</button>
            </div>
          </div>
          <div class="col">
             <!--Add Specialization-->
            <div class="addSpcl">
              <button type="button" class="addSp" data-bs-toggle="modal" data-bs-target="#addSpcl">Add Specialization</button>
            <!--Specialization list-->
              <button type="button" class="listSp spcl" data-bs-toggle="modal" data-bs-target="#spclList">Specialization List</button>
            </div>
          </div>
        </div>

        <input [(ngModel)]="searchName" (input)='listOfDoctors()' type="text" class="mt-3 form-control rounded" placeholder="Search Doctor" aria-label="Search"
            aria-describedby="search-addon" />
        <!--table-->
        <table class="table striped">
          <thead>
            <tr>
              <th scope="col">Doctor Email</th>
              <th scope="col">Name</th>
              <th scope="col">User Type</th>
              <th scope="col">License Number</th>
              <th scope="col">Specialization</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list">
              <th scope="row">{{item.email}}</th>
              <td>{{item.fullname}}</td>
              <td>{{item.role}}</td>
              <td>{{item.license_number}}</td>
              <td>{{item.sp_name}}</td>
              <td *ngIf="item.isVerified == 'verified'">
                <button type="button" (click)="editInfo(item)" class="edit" data-bs-toggle="modal" data-bs-target="#editDoctor">EDIT</button> &nbsp;
                <span><button (click)="editDisable(item.uid)" class="disable1" data-bs-toggle="modal" data-bs-target="#deleteDoctor">DISABLE</button></span>
              </td>
              <td *ngIf="item.isVerified == 'pending'">
                <button type="button" (click)="verify_doctor(item.uid)" class="verify">VERIFY</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!--Modal Add Specialization-->
  <div class="modal fade" id="addSpcl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSpclLabel">Add Specialization</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <form #specialInfo="ngForm" (ngSubmit)="addSpecialization(specialInfo.value)">
          <div class="modal-body">
            Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="sp.name" name="name" type="text" size="47"> <br><br>
            Description: &nbsp;<textarea [(ngModel)]="sp.description" name="description" id="" cols="47" rows="5"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="add" data-bs-dismiss="modal">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of modal add specialization-->

  <!--Modal Specialization List-->
  <div class="modal fade" id="spclList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="spclListLabel">Specialization List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <table class="table striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th scope="col">Action</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let item of spList">
                  <th>{{item.name}}</th>
                  <td>{{item.description}}</td>
                  <td>
                    <button (click)="editSP(item)" type="button" class="edit" data-bs-toggle="modal" data-bs-target="#editSpcl">EDIT</button>
                  </td>
                  <td>
                    <button (click)="deleteSP(item.uid)" class="delete" data-bs-toggle="modal" data-bs-target="#deleteSpcl">DELETE</button>
                  </td>
                </tr>
              </tbody>
          </table>

          <button type="button" class="close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of modal specialization list-->

  <!--Edit Doctor Modal-->
  <div class="modal fade" id="editDoctor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDoctorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editDoctorLabel">Edit Doctor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <form #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo.value)">
          <div class="modal-body">
            Doctor Id: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model.id" name="id" type="text" size="40" readonly> <br><br>
            User Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model.role" name="role" type="text" size="40" readonly> <br><br>
            Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="model.fullname" name="fullname" type="text" size="40"><br><br>
            License Number: &nbsp;&nbsp;<input [(ngModel)]="model.license_number" name="license_number" type="text" size="40"><br><br>
            Contact Number: &nbsp;&nbsp;<input [(ngModel)]="model.contact_number" name="contact_number" type="text" size="40"><br><br>
            Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="model.address" name="address" type="text" size="40"><br><br>
            Specialization:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select [(ngModel)]="model.specialization" name="specialization" aria-label="Default select example">
              <option selected value="{{model.specialization}}">{{model.sp_name}}</option>
              <option *ngFor="let list of spList"value="{{list.uid}}">{{list.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="update" data-bs-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of edit doctor modal-->

  <!--Delete Doctor Modal-->
  <div class="modal" id="deleteDoctor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to disable?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
          <button (click)="disableDoctor()" type="button" class="disable" data-bs-dismiss="modal">Disable</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of delete doctor modal-->

  <!--Edit Doctor Specialization-->
  <div class="modal" id="editSpcl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editDoctorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editDoctorLabel">Edit Specialization</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <form (ngSubmit)="update_Specialization()">
          <div class="modal-body">
            Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="sp2.name" name="name" type="text" size="45"><br><br>
            Description:  &nbsp; <textarea [(ngModel)]="sp2.description" name="description" id="" cols="62" rows="6"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="update" data-bs-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of edit doctor Specialization-->

  <!--Delete Doctor Specialization-->
  <div class="modal" id="deleteSpcl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button (click)="delete_Specialization()" type="button" class="btn btn-info" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of delete doctor Specialization-->

</body>
</html>
