body{
  font-size: 14px;
}
.addSpcl{
  position:absolute;
  right: 175px;
  top: 105px;
}

.spclList{
  position:absolute;
  right: 23px;
  top: 105px;
}

.tbl{
  margin-left: 180px;
  margin-top: -37%;
}

input, textarea{
  padding: 3px 6px;
}

select{
  width: 325px;
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}
