body{
  font-size: 14px;
}
.addSpcl{
  float: right;
}
.spcl{
  margin-left: 5px;
}
h5{
  color: rgb(0, 129, 138);
}
.doctor{
  margin-top: 70px;
}

.pending{
  border: 1px solid white;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 4px 12px;

}
.verified{
  border: 1px solid white;
  background-color: red;
  color: white;
  padding: 4px 12px;

}
.pending:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}

.verified:hover{
  color: red;
  background-color: rgb(235, 233, 233);
}

input{
  padding: 3px 6px;
}

.form-control{
  width: 300px !important;
  margin-bottom: 20px;
}

select, textarea{
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}

.col{
  margin-left: 0 !important;
}
