body{
  font-size: 14px;
}
.addSpcl{
  position:absolute;
  right: 175px;
  top: 105px;
}
h5{
  color: rgb(0, 129, 138);
}
.spclList{
  position:absolute;
  right: 23px;
  top: 105px;
}

input{
  padding: 3px 6px;
}

.form-control{
  width: 300px !important;
  margin-bottom: 20px;
}

select{
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}

.col{
  margin-left: 0 !important;
}
