
body{
  overflow: hidden;
}


/* PATIENT */

.patient{
  color: rgb(0, 192, 206);
  padding: 12px 4px;
  text-align: left;
  margin-left: 60px;
}

.profile-pic{
  border-radius: 50%;
  margin: 70px 10px 10px 80px;
  cursor: pointer;
}
.col-10{
  margin: 30px 0px 0px 35px;
  box-shadow: 0 4px 8px 0 rgba(146, 146, 146, 0.245), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 540px;
}

.info{
  line-height: 45px;
  position: absolute;
  top: 90px;
  right: 320px;
}

.buttons-right{
  position: absolute;
  bottom: 50px;
  right: 460px;
}
#edit{
  margin-right: 10px;
}

#editLabel{
  color: rgb(0, 192, 206);
}

select{
  width: 330px;
  padding: 3px;
}

input, textarea{
  padding: 3px 6px;
}

.btn, ::placeholder,.info{
  font-size: 14px !important;
}

input [type=date]{
  width: 300px !important;
}

/*
#patient-container{
  position: absolute;
  border: 1px solid rgb(0, 192, 206);
  padding: 20px;
  left: 215px;
  width: 82%;
  top: 80px;
  overflow-y: auto;
  max-height: 100%;
  /*min-height: 480px; height of sidebar and the information on right
} */


