
body{
  overflow: hidden;
}


/* PATIENT */

.patient{
  color: rgb(0, 192, 206);
  padding: 12px 4px;
}

.info{
  line-height: 38px;
}
/*
#patient-container{
  position: absolute;
  border: 1px solid rgb(0, 192, 206);
  padding: 20px;
  left: 215px;
  width: 82%;
  top: 80px;
  overflow-y: auto;
  max-height: 100%;
  /*min-height: 480px; height of sidebar and the information on right
} */

.profile-pic{
  border-radius: 50%;
}
.col-10{
  margin: 40px 0px 0px 35px;
  max-height: min-content;
}

#edit{
  margin-right: 10px;
}
