<app-header-patient></app-header-patient>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" >
      <!--sidebar-->
      <app-patient-sidenav></app-patient-sidenav>
    </div>
    <!--search-->
    <div class="wrap">
      <div class="search">
         <input type="text" class="searchTerm" placeholder="Search">
      </div>
    </div>
    <div class="col">
      <div *ngFor="let list of list" class="column">
        <div class="card">
          <img class="card-img-top" src="{{list.image}}" alt="doctor">
          <!--<h3><i class="fa fa-user-md"></i></h3>-->
          <div class="card-body">
            <h6 class="card-title">{{list.fullname}}</h6>
            <div *ngFor="let spList of spList">
               <p *ngIf="list.specialization == spList.uid" class="card-text">{{spList.name}}</p>
            </div>
            <a (click)="view_review(list)" class="view text-center">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
