<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Complaints</title>
</head>
<body>
 <!--Complain Form-->
 <div class="complain-page">
  <h6>Send Report</h6>
  <div class="form">
    <form ngNativeValidate #form="ngForm"  class="feedback-form" (ngSubmit)="send_problem(form.value)" >
      <textarea [(ngModel)]="content" name="content" id="" cols="70" rows="5" placeholder="Describe the issue..." required></textarea>
      <div class="image">
        <input (change)="get_image($event)" type="file" class="custom-file-input">
      </div>
      <span *ngIf="file" class="selection-done">File Selected &nbsp;
        <i class="bi bi-check-circle-fill"></i>
      </span>
      <div *ngIf="error_message.length>0" class="alert alert-danger">
        {{error_message}}
      </div>
      <div *ngIf="success_message.length>0" class="alert alert-success">
        {{success_message}}
      </div>
      <!--Button must be inside the form tag!-->
      <div class="sendButton">
        <button type="submit" class="send">Send</button>
       </div>
    </form>
  </div>
</div>
</body>
</html>

