body{
  min-height: 100vh;
  background: #f5f5f5;
}

.complain-page {
  width: 500px;
  margin: auto;
  top: 70px;
  position: relative;
  bottom: 0;
  border-radius: 3px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin:auto;
  border-radius: 3px;
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.form input[type=text], .form input[type=password],.form input[type=date] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 12px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: rgb(0, 192, 206);
  margin-right: 5.7em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
  color: rgb(0, 192, 206);
}


a{
  text-decoration: none;
  color: rgb(0, 192, 206);
}
a:hover{
  color: rgb(0, 152, 163);
}

h3{
    color: rgb(0, 192, 206);
}
::placeholder{
    font-size: 12px;
    color: rgb(153, 153, 153);
}

textarea{
  font-size: 16px;
  padding: 12px;
  margin-top: 10px;
  border-radius: 20px;
}
textarea:focus{
  outline: 0;
}
label{
  font-size: 12px;
}

.agree{
  float: left;
  margin-bottom: 10px;
}


@media screen and (max-width: 600px)
{
  .register-page {
    position: relative;
    width: 100%;
  }
}

h6{
  text-align: left;
  background: #e0e0e0;
  width: 100%;
  padding: 14px 18px;
  border-radius: 3px;
}

p{
  font-size: 12px;
}
select{
  width: 325px;
  padding: 3px 6px;
  font-size: 12px;
  margin-bottom: 20px;
}
.sendButton{
  width: 100%;
  padding: 14px 16px;
  margin-top: 15px;
}
.send{
  font-size: 12px !important;
  text-decoration: none;
}

.image{
  margin-top: 20px;
  display: inline-flex;
}
.selection-done{
  background-color: transparent;
  color: green;
  font-size: 1.2rem;
}
/*input file*/
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  display: none;
  margin-right: 0;
}
.custom-file-input::before {
  content: 'Add Image';
  color: black;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 50px;
  padding: 10px 30px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  text-align: center;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.send{
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  color: #fff;
  width: 50%;
  margin-left: 100px;
  text-align: center;
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.send:hover, .send:focus{
  background: rgb(0, 129, 138);
}
