<app-header-lab></app-header-lab>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
    <div class="col mt-4">
      <img src="{{imgUrl}}" alt="img" class="profile-pic"  width="120" height="120">
      <div class="lab-info">
        <p>Name: {{info.name}}</p>
        <p>Email:  {{info.email}}</p>
        <p>Address: {{info.address}}</p>
        <p>Contact Number: {{info.contact_number}}</p>
      </div>
      <div class="lower-part">
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of list" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><span *ngFor="let img of userImgUrl"><img *ngIf="list.from == img.uid" src="{{img.image}}" alt="" width="25" height="25" class="cute-pic"></span>{{list.fullname}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="ufeedback">{{list.feedback}}</p>
            </div>
            <!--REPLY-->
            <div *ngFor="let reply of replyList">
                <div *ngIf="list.from==reply.sent_to" class="reply-to">
                    <h5 class="mb-1">
                      <span> <img src="{{imgUrl}}" alt="" class="cute-pic" width="16px" height="16px"></span>
                      {{reply.name}}
                      <span><button (click)="remove_reply(reply)" class="trash"><i class="bi bi-trash"></i></button></span>
                    </h5>
                    <p class="ureply">{{reply.feedback}}</p>
                </div>
            </div>
            <div>
              <button (click)="reply_edit(list)" class='submit' type="button" data-bs-toggle="modal" data-bs-target="#toReply">Reply</button>
            </div>
           <!-- <small>Transaction ID</small>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
<!--Reply Modal-->
<div class="modal fade" id="toReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form #form="ngForm" (ngSubmit)="lab_reply(form.value)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSpclLabel">Add a reply</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
          <div class="modal-body">
            <textarea [(ngModel)]="feedback" name="feedback" id="" cols="70" rows="5" placeholder="Reply..."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="add" data-bs-dismiss="modal">Add</button>
          </div>
      </div>
    </form>
  </div>
</div>


