<app-header-lab></app-header-lab>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
    <div class="col m-4">
      <img src="{{imgUrl}}" alt="img" class="profile-pic"  width="150" height="150">
      <div class="lab-info ">
        Name: {{info.name}}<br>
        Email:  {{info.email}}<br>
        Address: {{info.address}}<br>
        Contact Number: {{info.contact_number}}<br>
      </div>
      <div class="lower-part">
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of list" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><span><img src="./assets/images/yoshi.jpg" alt="" width="25" height="25" class="cute-pic"></span>{{list.fullname}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="mb-1">{{list.feedback}}</p>
            </div>
              <div *ngFor="let reply of replyList">
                  <div *ngIf="list.from == reply.sent_to">
                  <span>Name:{{reply.name}}</span>
                  <div>
                      <p>{{reply.feedback}}</p>
                  </div>
                </div>
              </div>
            <form #form="ngForm" (ngSubmit)="lab_reply(form.value,list)">
              <textarea [(ngModel)]="feedback" name="feedback" type="text" class="input" placeholder="Add a reply"></textarea>
              <button class='submit' type="submit">Submit</button>
              <button class='cancel' type="submit">Cancel</button>
            </form>
           <!-- <small>Transaction ID</small>-->
          </li>
        </ul>
      </div>
    </div>

  </div>



