body{
  width: 100%;
  overflow: hidden;
}

.profile-pic{
  margin: 0px auto auto 25px;
}
.lab-info{
  background-color: rgb(238, 238, 238);
  width: 830px;
  font-size: 13px;
  margin: -120px 50px 0 160px;
  padding: 15px 20px 1px 20px;
  color: gray !important;
}
.lab-info p{
  line-height: 10px;
}

.lower-part{
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  width: 965px;
  height: 370px;
  padding: 10px 35px;
  margin-left: 25px;
  margin-top: 20px;
  overflow-y: scroll;
}

/*content*/
.list-group-item{
  box-shadow: 0 4px 4px 0 rgba(146, 146, 146, 0.245), 0 6px 20px 0 rgba(104, 104, 104, 0.20);
  color: gray !important;
  font-size: 12px;
  margin-bottom: 5px;
}

.mb-1{
  font-size: 12px;
  margin-bottom: 10px;
}

.cute-pic{
  border-radius: 50%;
  margin-right: 5px;
}

/*reply*/
textarea{
  padding: 10px;
  font-size: 12px;
}
textarea:focus{
  outline: 0;
}

/*submit1 Button*/
.add{
  border: 1px solid rgb(0, 129, 138);
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  color: rgb(0, 129, 138);
  background-color: transparent;
  padding: 4px 10px;
  cursor: pointer;
  text-align: center !important;
}
.cancel{
  border: 1px solid red;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: transparent;
  padding: 4px 10px;
  cursor: pointer;
  text-align: center !important;
}

.add:hover{
  color: white;
  background-color: rgb(0, 129, 138);
}
.cancel:hover{
  color: white;
  background-color: red;
}


.submit{
  margin-top: 5px;
  font-size: 11px !important;
  text-decoration: none;
  border-radius: 200px;
  border: 1px solid gray;
  padding: 2px 8px;
}

.submit:hover, .submit:focus{
  border: 1px solid rgb(0, 192, 206);
  color: white;
  background-color: rgb(0, 192, 206) ;
}
p.ufeedback{
  margin: 5px auto 10px 30px;
}
p.ureply{
  margin-left: 20px;
  margin-top: 10px;
}

.reply-to{
  /*border-top: 1px solid rgb(180, 180, 180); */
  padding: 8px 8px 2px 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  width: 100%;
  margin-bottom: 5px;
}

.trash{
  border: none;
  outline: none;
  /*color: rgb(0, 129, 138);*/
  color: gray;
  float: right;
  font-size: 14px;
}

.trash:hover{
  transform: scale(1.1);
  transition: ease .30s;
  color: red;
}
.modal-title{
  color: rgb(0, 129, 138);
}
