<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Registration Page</title>
</head>
<body>
  <!--header section -->
  <!-- <app-header></app-header> -->

 <!--Registration Form-->
 <div class="register-page">
  <div class="form">
    <h3 class="py-1">Registration</h3>
    <form #userRegForm="ngForm" class="register-form" (ngSubmit)="register_Patient(userRegForm.value)">
      <input  [(ngModel)]="model.fullname" type="text" name="fullname" placeholder="Full Name" required/>
      <input [(ngModel)]="model.dob" class="dateclass placeholderclass" type="date" name="dob" placeholder="Date of Birth" required>
      <input [(ngModel)]="model.address" type="text" name="address" placeholder="Address" required/>
      <select [(ngModel)]="model.health_insurance" name="health_insurance">
        <option value="" selected>--SELECT HEALTH INSURANCE--</option>
        <option *ngFor="let list of insList" value="{{list.uid}}">{{list.name}}</option>
      </select>
      <input [(ngModel)]="model.member_ID" name="member_ID" type="text" placeholder="Health Insurance ID" required/>
      <input [(ngModel)]="model.contact_number" name="contact_number" type="text" placeholder="Contact Number" required/>
      <input [(ngModel)]="model.email" type="text" name="email" placeholder="Email address" required/>
      <input [(ngModel)]="model.password"name="password" type="password" placeholder="Password" required/>
      <input [(ngModel)]="confirmPass" [ngModelOptions]="{standalone:true}" type="password" placeholder="Confirm Password" required/>
      <div class="agree">
        <input type="checkbox" class="form-check-input" id="terms"/>
        <label class="form-check-label" for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
      </div>
      <button type="submit" >REGISTER</button>

    </form>
    <div class="form-group">
      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>
      <p *ngIf="pass_message.length > 0" class="text-danger">
          {{pass_message}} </p>
    </div>
  </div>
</div>
</body>
</html>

