<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Transaction History</title>
</head>
<body>
  <app-header-doctor></app-header-doctor>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-doctor-sidenav></app-doctor-sidenav>
      </div>
      <div class="col mx-3 mt-4">
        <div class="whole-trans">
          <div class="top-part">
            <p class="top-text">Transaction History</p>
          </div>
          <div class="row mx-2">
            <div class="col-md-4">
              <input (input)="get_transaction()" type="text" class="form-control rounded" placeholder="Search PatientName" aria-label="Search">
            </div>
            <div class="col-md-3 .offset-md-3">
              <select  class="form-select col" name="" id="" (change)="get_transaction()">
                <option value="" selected>Select Status</option>
                <option value="sucessful">Successful</option>
                <option value="refund">Cancelled</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="" (change)="get_transaction()">
                <option value="" selected>Month</option>
              </select>
            </div>
            <div class="col-md-2 align-content-end">
              <select class="form-select col" name="" id="" (change)="get_transaction()">
                <option value="" selected>Year</option>
              </select>
            </div>
          </div>
          <div class="row mx-2 mt-4">
            <div class="col-md-2">
              <p class="upper">Date</p>
            </div>
            <div class="col-md-1">
              <p class="upper">Patient</p>
            </div>
            <div class="col-md-2">
              <p class="upper">Schedule</p>
            </div>
            <div class="col-md-1">
              <p class="upper">Fee</p>
            </div>
            <div class="col-md-2">
              <p class="upper">Transaction ID</p>
            </div>
            <div class="col-md-1">
              <p class="upper">Status</p>
            </div>
            <div class="col-md-1">
              <p class="upper">Deductions</p>
            </div>
            <div class="col-md-2">
              <p class="upper">Net Income</p>
            </div>
          </div>

          <div *ngFor="let list of tranList" class="row justify-content-evenly mx-2">
            <div class="col-md-2">
              <p class="content">{{list.createdAt}}</p>
            </div>
            <div class="col-md-1">
              <p class="content">{{list.patient_name}}</p>
            </div>
            <div class="col-md-2">
              <p class="content">{{list.Schedule}}</p>
            </div>
            <div class="col-md-1">
              <p class="content">{{list.Amount}}</p>
            </div>
            <div class="col-md-2">
              <p class="content">{{list.transaction_id}}</p>
            </div>
            <div class="col-md-1">
              <p *ngIf="list.status!='refund'" class="content content-success">Successful</p>
              <p *ngIf="list.status=='refund'" class="content content-cancel">Cancelled</p>
            </div>
            <div class="col-md-1">
              <p class="content">{{list.deduction}}</p>
            </div>
            <div class="col-md-2">
              <p class="content">{{list.net_income}}</p>
            </div>
          </div>
        </div>

        <!--
        <h5 class="usr">Transaction History</h5>
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of tranList" class="list-group-item flex-column align-items-start mt-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="name">{{list.patient_name}}</h5>
              <small>{{list.updatedAt}}</small>
            </div>
            <div>
              <p class="mb-1">{{list.patient_name}} paid an amount of {{list.Amount}} as a payment for one consultation.</p>
              <p class="mb-1">Consultation Schedule: {{list.Schedule}}</p>
              <p class="mb-1">Amount: {{list.Amount}}</p>
              <p class="mb-1">Deduction(s): {{list.total_dec}}</p>
              <p class="mb-1">Net Income:{{list.net_income}}</p>
            </div>
            <small>Transaction ID:{{list.uid}}</small>
          </li>
        </ul>
      -->
      </div>
    </div>

</body>
</html>
