body{
  font-size: 14px;
}

.usr{
  color: rgb(0, 129, 138);
}

.list-group-item{
  box-shadow: 0 4px 4px 0 rgba(146, 146, 146, 0.245), 0 6px 20px 0 rgba(104, 104, 104, 0.20);
  color: gray !important;
  font-size: 12px;
}

.mb-1{
  font-size: 14px;
}

.whole-trans{
  height: 490px;
  overflow-y: scroll;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 20px;
}

