<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Transaction History</title>
</head>
<body>
  <app-header-doctor></app-header-doctor>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-doctor-sidenav></app-doctor-sidenav>
      </div>
      <div class="col mx-3 mt-4">
        <h5 class="usr">Transaction History</h5>
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of tranList" class="list-group-item flex-column align-items-start mt-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 mb-1>{{list.patient_name}}</h5>
              <small>{{list.updatedAt}}</small>
            </div>
            <div>
              <p class="mb-1">{{list.patient_name}} paid an amount of {{list.Amount}} as a payment for one consultation.</p>
              <p class="mb-1">Consultation Schedule: {{list.Schedule}}</p>
              <p class="mb-1">Amount: {{list.Amount}}</p>
              <p class="mb-1">Deduction(s): {{list.total_dec}}</p>
              <p class="mb-1">Net Income:{{list.net_income}}</p>
            </div>
            <small>Transaction ID:{{list.uid}}</small>
          </li>
        </ul>
      </div>
    </div>

</body>
</html>
