body{
  width: 100%;
  overflow: hidden;
}

.profile-pic{
  margin: 30px auto auto 0;
  border-radius: 20px;
}
.doctor-info{
  background-color: rgb(238, 238, 238);
  font-size: 18px;
  font-weight: 400;
  margin: -120px 50px 0 130px;
  padding: 17px 20px;
  color: #333;
  border-radius: 20px;
}

.lower-part{
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  height: 370px;
  padding: 20px 35px;
  margin-right: 45px;
  margin-top: 20px;
  overflow-y: scroll;
}

/*content*/
.content{
  border-radius: 20px;
  background: white;
  color: gray !important;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 15px;
}

.mb-1{
  font-size: 20px;
  margin-bottom: 10px;
}
.feedback{
  font-size: 16px;
  margin-left: 20px;
  margin-top: 3px;
}

.cute-pic{
  border-radius: 50%;
  margin-right: 5px;
}

/*reply*/
textarea{
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
}
textarea:focus{
  outline: 0;
}

/*submit1 Button*/
.add{
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100px;
  color: #fff;
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cancel{
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100px;
  color: #fff;
  background: rgb(138, 32, 0);
  background: linear-gradient(135deg, rgb(255, 77, 23) 0%, rgb(138, 32, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.add:hover{
  background: rgb(0, 129, 138);
}
.cancel:hover{
  background: rgb(138, 32, 0);
}

.submit{
  margin-top: 5px;
  font-size: 16px !important;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  width: 20%;
  color: #fff;
  background: rgb(0, 129, 138);
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submit:hover, .submit:focus{
  background: rgb(0, 129, 138);
}
p.ufeedback{
  margin: 5px auto 10px 30px;
}
p.ureply{
  margin-left: 20px;
  margin-top: 10px;
}

.reply-to{
  /*border-top: 1px solid rgb(180, 180, 180); */
  padding: 8px 8px 2px 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  width: 100%;
  margin-bottom: 5px;
}

.modal-title{
  font-size: 30px !important;
  font-weight: 500;
  color: rgb(0, 129, 138);
}


p.ufeedback{
  margin: 5px auto 10px 30px;
}
p.ureply{
  margin-left: 20px;
  margin-top: 10px;
}

.reply-to{
  /*border-top: 1px solid rgb(180, 180, 180); */
  padding: 8px 8px 2px 12px;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  width: 100%;
  margin-bottom: 5px;
}

.trash{
  border: none;
  outline: none;
  /*color: rgb(0, 129, 138);*/
  color: gray;
  float: right;
  font-size: 14px;
}

.trash:hover{
  transform: scale(1.1);
  transition: ease .30s;
  color: red;
}
