<app-header-doctor></app-header-doctor>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <!--sidenav -->
     <app-doctor-sidenav></app-doctor-sidenav>
    </div>
    <div class="col m-4">
      <img src="{{imgUrl}}" alt="img" class="profile-pic"  width="150" height="150">
      <div class="lab-info ">
        Name: {{info.fullname}}<br>
        Email: {{info.email}}<br>
        Address: {{info.address}}<br>
        Contact Number: {{info.contact_number}}<br>
      </div>
      <div class="lower-part">
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of fList" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><span><img src="{{list.image}}" alt="" width="25" height="25" class="cute-pic"></span>{{list.fullname}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="mb-1">{{list.feedback}}</p>
            </div>
            <div *ngFor="let reply of replyList">
              <div *ngIf="list.from==reply.sent_to" class="reply-to">
                  <h5 class="mb-1"><span> <img src="{{imgUrl}}" alt="" class="cute-pic" width="16px" height="16px"></span>{{reply.fullname}}</h5>
                  <p class="ureply">{{reply.feedback}}</p>
              </div>
            </div>
            <div>
              <button (click)="reply_button(list)" class='submit' type="button" data-bs-toggle="modal" data-bs-target="#toReply">Reply</button>
            </div>
           <!-- <small>Transaction ID</small>-->
          </li>
        </ul>
      </div>
    </div>

    <!--Reply Modal-->
    <div class="modal fade" id="toReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <form #form="ngForm" (ngSubmit)="reply_user(form.value)" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addSpclLabel">Add a reply</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
              <div class="modal-body">
                <textarea [(ngModel)]="reply" name="reply" id="" cols="50" rows="5" placeholder="Reply..."></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info" data-bs-dismiss="modal">Add</button>
              </div>
          </div>
        </form>
        </div>
    </div>
  </div>

