*{
  box-sizing: border-box;
}
/*
.row{
  background-color: rgb(0, 129, 138);
} */
video{
  background: rgb(194, 194, 194);
  border-radius: 5pt;
  margin: 5px;
  max-width: 650px;
}

.video-description{
  margin-top: 30px;
}

/*buttons*/
button{
  margin: 50px 0 50px 0;
  font-size: 1.8rem;
}

i{
  padding: 8px 10px;
}
.video-on{
  border: 0;
  color: white;
  background-color: transparent;
}

.bi-camera-video:hover{
  border-radius: 50%;
  background-color: white;
  color: rgb(15, 15, 15);
  opacity: 0.9;
}

.stop-local{
  border: 0;
  color: white;
  background-color: transparent;
  display: inline-flex;
}
.stop-local:hover{
  border-radius: 3px;
  background-color: red;
  color: white;
}

.options{
  margin:auto;
  width: 250px;
}
