<div class="bg-dark row">
  <div class="col">
    <p class="video-description text-center text-light">Patient's Name</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </div>
  <div class="col">
    <p class="video-description text-center text-light">Doctor's Name</p>
    <video #received_video [autoplay]="true"></video>
  </div>
</div>

<div class="bg-dark row mb-2">
  <div class="options">
    <button (click)="startLocalVideo()" class="video-on" title="Camera on"><i class="bi bi-camera-video"></i></button>
    <button (click)="pauseLocalVideo()" class="stop-local" title="Camera/Mic off">
      <span><i class="bi bi-camera-video-off"></i></span>
      <span><i class="bi bi-mic-mute"></i></span>
    </button>
    <button id="answerCall" (click)="answerCall()" class="video-on" title="Camera on">Accept</button>
  </div>
</div>

