body{
  min-height: 100vh;
  background: #f5f5f5;
}
.feedback-page {
  width: 500px;
  margin: auto;
  top: 10px;
  position: relative;
  bottom: 0;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin:auto;
  border-radius: 20px;
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.form input[type=text], .form input[type=password],.form input[type=date] {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 12px;
}
.form-select,
input[type=text],
input[type=email]
{
  font-size: 16px !important;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid rgb(207, 207, 207);
}
input:focus,
textarea:focus{
  outline: 0;
}

textarea
{
  font-size: 16px !important;
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid rgb(207, 207, 207);
}


/*
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(0, 192, 206);
  text-decoration: none;
} */

a{
  text-decoration: none;
  color: rgb(0, 192, 206);
}
a:hover{
  color: rgb(0, 152, 163);
}

h3{
    color: rgb(0, 192, 206);
}
::placeholder{
    color: rgb(0, 192, 206);
}

label{
  font-size: 12px;
}

.agree{
  float: left;
  margin-bottom: 10px;
}


@media screen and (max-width: 600px)
{
  .register-page {
    position: relative;
    width: 100%;
  }
}

h6{
  text-align: center;
  background: #e0e0e0;
  width: 100%;
  padding: 14px 12px;
  border-radius: 50px;
}

p{
  font-size: 12px;
}
select{
  width: 325px;
  padding: 3px 6px;
  font-size: 12px;
  margin-bottom: 20px;
}
select:focus{
  outline: none;
}
.sendButton{
  width: 100%;
  padding: 14px 12px;
}
.send{
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  color: #fff;
  width: 50%;
  margin-left: 100px;
  text-align: center;
  background: linear-gradient(135deg, rgb(0, 222, 238) 0%, rgb(0, 129, 138) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
.send:hover, .send:focus{
  background: rgb(0, 129, 138);
}

.content{
  font-weight: 600;
}
