<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Feedbacks</title>
</head>
<body>
 <!--Fee dbackForm-->
 <div class="feedback-page">
  <h6>Give Us Your Thoughts on an E-Konsulta Feature</h6>
  <div class="form">

    <form class="feedback-form">
      <p>Please let us know how we can make your E-Konsulta experience better.</p>
      <div class="user-email">
        <p>Your email <br>
        <span><input type="text"></span> </p>
      </div>
      <div>
        <p>Please provide feedback by selecting a feature from the list below.</p>
        <p>Feature</p>
        <select name="" id="">
          <option value="">Billing</option>
          <option value="">Chat</option>
          <option value="">Notification</option>
        </select>
        <p>Your Feedback</p>
        <textarea name="" id="" cols="55" rows="5"></textarea>
      </div>
      <div>
        <p>Thank you for taking the time to give us feedback. </p>
      </div>
    </form>
    <!--
    <div class="form-group">
      <p *ngIf="errorMessage.length > 0" class="text-danger">
          {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>

          <p *ngIf="message.length > 0" class="text-info">
              {{message}} </p>
  </div>
  -->
  </div>
 <div class="sendButton">
  <button class="send">Send</button>
 </div>
</div>
</body>
</html>

