<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - User Analytics</title>
</head>
<body>
  <app-header-user></app-header-user>
  <div class="row flex-nowrap">
    <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
       <!--sidenav -->
      <app-admin-sidenav></app-admin-sidenav>
    </div>

  <div class="col">
    <div class="content">
      <p class="consultation">Consultation</p>
      <div class="row justify-content-evenly">
        <div class="col-4 consultation-content">
          <h4>Today</h4>
          <p class="card-text">{{todayCons}}</p>
        </div>
        <div class="col-4  consultation-content">
          <h4>Total Users</h4>
          <p class="card-text">{{consSize}}</p>
        </div>
      </div>

      <div class="row mt-2 justify-content-evenly">
        <p class="total">Total Users</p>
        <div class="col-3 consultation-content">
          <h4>Admin <span><i class="bi bi-person-circle"></i></span></h4>
          <p class="card-text">{{adminsize}}</p>
        </div>
        <div class="col-3 consultation-content">
          <h4>Doctors <span><i class="bi bi-person-check-fill"></i></span></h4>
          <p class="card-text">{{docsize}}</p>
        </div>
        <div class="col-3 consultation-content">
          <h4>Patients <span><i class="bi bi-person-fill"></i></span></h4>
          <p class="card-text">{{patsize}}</p>
        </div>
      </div>

      <div class="row mt-2 justify-content-evenly">
        <div class="col-4 consultation-content">
          <h4>Laboratory Partner<span><i class="bi bi-building"></i></span></h4>
          <p class="card-text">{{labsize}}</p>
        </div>
        <div class="col-4  consultation-content">
          <h4>Health Insurance <span><i class="bi bi-heart-fill"></i></span></h4>
          <p class="card-text">{{inssize}}</p>
        </div>
      </div>

    </div>
  </div>
  </div>
</body>
</html>
