
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - User Analytics</title>
</head>
<body>
  <app-header-user></app-header-user>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
       <!--sidenav -->
      <app-admin-sidenav></app-admin-sidenav>
    </div>

    <div class="content">
      <div class="col-9">
        <p class="consultation">CONSULTATION</p>
        <div class="column">
          <div class="card">
            <h6>Today</h6>
            <div class="card-body">
              <small>Total Users</small>
              <p class="card-text">{{todayCons}}</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h6>Total Users</h6>
            <div class="card-body">
              <small style="visibility: hidden;">Total Users</small>
              <p class="card-text">{{consSize}}</p>
            </div>
          </div>
        </div>
        

        <!--2nd row-->
        <p class="total">TOTAL USERS</p>
        <div class="column2">
          <div class="card">
            <h5>Admin <span><i class="fa fa-user"></i></span></h5>
            <div class="card-body">
              <p class="card-text">{{adminsize}}</p>
            </div>
          </div>
        </div>

        <div class="column2">
          <div class="card">
            <h5>Doctors <span><i class="fa fa-user-md"></i></span></h5>
            <div class="card-body">
              <p class="card-text">{{docsize}}</p>
            </div>
          </div>
        </div>

        <div class="column2">
          <div class="card">
            <h5>Patients <span><i class="fa fa-users"></i></span></h5>
            <div class="card-body">
              <p class="card-text">{{patsize}}</p>
            </div>
          </div>
        </div>

        <div class="column2">
          <div class="card">
            <h5>Health Insurance <span><i class="fa fa-heart"></i></span></h5>
            <div class="card-body">
              <p class="card-text">{{inssize}}</p>
            </div>
          </div>
        </div>

        <div class="column2">
          <div class="card">
            <h5>Laboratory Partner<span><i class="fa fa-flask"></i></span></h5>
            <div class="card-body">
              <p class="card-text">{{labsize}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
