#sidenav{
  background-color:rgb(0, 129, 138);
  width: 190px;
  position: sticky;
  z-index: 99;
  font-size: 14px;
}

.nav-link{
  color: white;
  /*color: rgb(0, 154, 165);*/

}

/*.nav-link:hover{
   background-color: white;
  color: rgb(0, 154, 165)
  color: rgb(173, 251, 255) !important;
}*/

li>.nav-link>span:hover{
  color: rgb(0, 228, 245);
  width: 100%;
}

/*responsive */
@media screen and (max-width: 650px)
{
  #sidenav
  {
    width: 100px;
  }

}
