<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Insurance Sidenav</title>
</head>
<body>
  <div class="col-3 col-md-3 col-xl-2 px-sm-1 px-0 min-vh-100" id="sidenav">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
      <ul class="nav fixed nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
          <a routerLink="/health-insurance-loa" class="nav-link px-0 align-middle">
            <i class="bi bi-journal-plus"></i><span class="ms-2 d-none d-sm-inline">Patient's LOA Requests</span> </a>
        </li>
        <li>
          <a routerLink='/health-insurance-received-loa' class="nav-link px-0 align-middle">
            <i class="bi bi-file-check"></i> <span class="ms-2 d-none d-sm-inline">Received LOA</span>
          </a>
      </li>
        <li>
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="bi bi-check-circle"></i><span class="ms-2 d-none d-sm-inline">Verification<i class="bi bi-caret-down"></i> </span>
          </a>
          <ul class="collapse nav flex-column ms-2" id="submenu3" data-bs-parent="#menu">
            <li>
              <a routerLink="/health-insurance-verification-doctor" class="nav-link px-1"> <span class="d-none d-sm-inline">Doctor</span> </a>
          </li>
          <li>
              <a routerLink="/health-insurance-verification-patient" class="nav-link px-1"> <span class="d-none d-sm-inline">Patient</span> </a>
          </li>
          </ul>
        </li>
        <li>
          <a routerLink='/health-insurance-transaction' class="nav-link px-0 align-middle ">
            <i class="bi bi-clock-history"></i> <span class="ms-2 d-none d-sm-inline">Transactions</span></a>
      </li>
        <li>
          <a routerLink='/health-insurance-reviews' class="nav-link px-0 align-middle ">
            <i class="bi bi-chat-dots"></i> <span class="ms-2 d-none d-sm-inline">Reviews</span></a>
      </li>
      </ul>
  </div>
</div>

</body>
</html>
