body{
  font-size: 14px;
}
.tbl{
  margin-left: 200px;
  margin-top: -39%;
}

.usr{
  color: rgb(0, 192, 206);
}

.lower-part{
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  height: 380px;
  padding: 7px 35px;
  margin-left: 25px;
  margin-top: 20px;
  overflow-y: scroll;
}

/*content*/
.list-group-item{
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: gray !important;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
.addr{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 150px;
  margin-left: 20px;
}
.addr:hover{
  background-color: rgb(0, 129, 138);
}

input{
  padding: 3px 6px;
}

input:focus{
  outline: 0;
}
select{
  width: 325px;
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}

.modal-title{
  color: rgb(0, 129, 138);
}
.cancel{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 80px;
}
.cancel:hover{
  background-color: rgb(211, 0, 0);
}
.submit{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 80px;
}
.submit:hover{
  background-color: rgb(0, 129, 138);
}

.input:focus{
  outline: 0;
}
.btn-group{
  margin-left: 20px;
}
.pending{
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 7px 12px;
  width: 100px;
}
.done{
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  padding: 7px 12px;
  width: 100px;
}

.pending:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}

.done:hover{
  background-color: rgb(241, 217, 0);
}
