body{
  font-size: 14px;
}
.tbl{
  margin-left: 200px;
  margin-top: -39%;
}

.usr{
  color: rgb(0, 192, 206);
}

.lower-part{
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  width: 930px;
  height: 400px;
  padding: 7px 35px;
  margin-left: 25px;
  margin-top: 40px;
  overflow-y: scroll;
}

/*content*/
.list-group-item{
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: gray !important;
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
.addr{
  border: none;
  color: white;
  background-color: rgb(0, 129, 138);
  border-radius: 5px;
  padding: 4px 12px;
  margin-left: 20px;
}
.addr:hover{
  background-color: rgb(235, 233, 233);
  color: rgb(0, 129, 138);
}

input{
  padding: 3px 6px;
}

select{
  width: 325px;
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}

.modal-title{
  color: rgb(0, 129, 138);
}
.cancel{
  border: 1px solid red;
  border-radius: 5px;
  background-color: transparent;
  color: red;
}
.cancel:hover{
  color: white;
  background-color: red;
}
.submit{
  border: 1px solid rgb(0, 129, 138);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(0, 129, 138);
}
.submit:hover{
  color: white;
  background-color: rgb(0, 129, 138);
}
.cancel,
.submit{
  padding: 4px 8px;
}
.input:focus{
  outline: 0;
}
.btn-group{
  margin-left: 20px;
}
.pending{
  border: 1px solid white;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 4px 12px;
}
.done{
  border: 1px solid white;
  background-color: red;
  color: white;
  padding: 4px 12px;
}
.pending:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}
.done:hover{
  color: red;
  background-color: rgb(235, 233, 233);
}
