<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Insurance Verification</title>
</head>
<body>

  <app-header-insurance></app-header-insurance>

    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-health-insurance-sidenav></app-health-insurance-sidenav>
      </div>
      <div class="col mx-3 mt-4">
        <h5 class="usr py-1">Verification</h5>
        <div class="btn-group">
          <button (click)="isVerified_Doc('pending')" type="button" class="btn btn-outline-info">Pending</button>
          <button (click)="isVerified_Doc('verified')" type="button" class="btn btn-outline-info">Verified</button>
        </div>
        <table class="table table-info table striped">
          <thead>
            <tr>
              <th scope="col">User Email</th>
              <th scope="col">Name</th>
              <th scope="col">Insurance Account ID</th>
              <th scope="col">Verification Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of list">
              <th scope="row">{{list.email}}</th>
              <td>{{list.fullname}}</td>
              <td>{{list.member_ID}}</td>
              <td>{{list.isVerified}}</td>
              <td>
                <button (click)="verify(list)" class="btn btn-success">Verify</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>

