<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Set Schedule</title>
</head>
<body>
  <app-header-doctor></app-header-doctor>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <app-doctor-sidenav></app-doctor-sidenav>
    </div>
    <div class="col p-2" action="">
      <div class="card-body card-min-size">
        <form #form="ngForm" (ngSubmit)="setSchedule(form.value)" ngNativeValidate>
          <div *ngIf="added_message.length > 0" class="alert alert-success">
            {{added_message}}
          </div>

          <div class="card">
            <div class="card-body px-3">
              <div id="schedule-container">
                <div class="wizard-title">Set Schedule</div>
                <div class="row mt-4">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Pick Date</label>
                      <small class="text-danger font-weight-bold">*</small>
                      <div class="input-group date" id="datepicker">
                        <select [(ngModel)]="date" class="form-select" name="date" id="">
                          <option value="" selected>Select Day</option>
                          <option value="Mon">Monday</option>
                          <option value="Tue">Tuesday</option>
                          <option value="Wed">Wednesday</option>
                          <option value="Thu">Thursday</option>
                          <option value="Fri">Friday</option>
                          <option value="Sat">Saturday</option>
                          <option value="Sun">Sunday</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Start Time</label>
                      <small class="text-danger font-weight-bold">*</small>
                      <select [(ngModel)]="start" name="start" class="form-select required bg-white" id="scheduled_time" required>
                        <option value="" selected>Select Start Time</option>
                        <option value="1:00 AM">1:00 AM</option>
                        <option value="2:00 AM">2:00 AM</option>
                        <option value="3:00 AM">3:00 AM</option>
                        <option value="4:00 AM">4:00 AM</option>
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="6:00 AM">6:00 AM</option>
                        <option value="7:00 AM">7:00 AM</option>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="1:00 PM">1:00 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="3:00 PM">3:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="5:00 PM">5:00 PM</option>
                        <option value="6:00 PM">6:00 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                        <option value="8:00 PM">8:00 PM</option>
                        <option value="9:00 PM">9:00 PM</option>
                        <option value="10:00 PM">10:00 PM</option>
                        <option value="11:00 PM">11:00 PM</option>
                        <option value="12:00 AM">12:00 AM</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>End Time</label>
                      <small class="text-danger font-weight-bold">*</small>
                      <select [(ngModel)]="end" name="end" class="form-select required bg-white" id="scheduled_time" required>
                        <option value="" selected>Select End Time</option>
                        <option value="1:00 AM">1:00 AM</option>
                        <option value="2:00 AM">2:00 AM</option>
                        <option value="3:00 AM">3:00 AM</option>
                        <option value="4:00 AM">4:00 AM</option>
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="6:00 AM">6:00 AM</option>
                        <option value="7:00 AM">7:00 AM</option>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="1:00 PM">1:00 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="3:00 PM">3:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="5:00 PM">5:00 PM</option>
                        <option value="6:00 PM">6:00 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                        <option value="8:00 PM">8:00 PM</option>
                        <option value="9:00 PM">9:00 PM</option>
                        <option value="10:00 PM">10:00 PM</option>
                        <option value="11:00 PM">11:00 PM</option>
                        <option value="12:00 AM">12:00 AM</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Patient Limit</label>
                      <small class="text-danger font-weight-bold">*</small>
                      <input [(ngModel)]="limit" name="limit" type="number" class="form-control bg-white" placeholder="Limit" required>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end mt-4">
                  <div class="col-md-4 .offset-md-4">
                    <button type="submit" id="set">Set</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!--THIS IS FOR THE LIST-->
        <div class="card mt-4">
          <div class="card-body px-3">
            <div id="schedule-container">
              <div class="wizard-title">Schedule</div>
              <div class="row mt-3">
                <div class="col">
                  <div class="btn-group">
                    <button class="day monday" (click)="monday()">Monday</button>
                    <button class="day tuesday" (click)="tuesday()">Tuesday</button>
                    <button class="day wednesday" (click)="wednesday()">Wednesday</button>
                    <button class="day thursday" (click)="thursday()">Thursday</button>
                    <button class="day friday" (click)="friday()">Friday</button>
                    <button class="day saturday" (click)="saturday()">Saturday</button>
                    <button class="day sunday" (click)="sunday()">Sunday</button>
                  </div>
                </div>

                <div *ngIf="monday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Mon'">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="tuesday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Tue'">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                      </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="wednesday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Wed'">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="thursday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Thu' ">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="friday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Fri'">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="saturday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Sat' ">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div *ngIf="sunday1" class="mt-2">
                  <ul class="list-group" id="schedule">
                    <div *ngFor="let list of schedule">
                      <div *ngIf="list.date == 'Sun'">
                        <li class="list-group-item d-flex justify-content-between align-items-center active">
                          {{list.name}}
                        </li>
                        <div *ngFor="let list2 of sched_time">
                          <li *ngIf="list.uid == list2.uid" class="list-group-item d-flex justify-content-between align-items-center">
                            {{list2.time}}
                            <span class="badge bg-success badge-pill">{{list2.limit}}</span>
                          </li>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="row justify-content-end mt-4">
                <div class="col-md-4 .offset-md-4">
                  <button (click)="clear_field()" id="set" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
                </div>
              </div>
              <div *ngIf="clear_message.length>0" class="alert alert-info row">
                  {{clear_message}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- start edit Modal-->
<div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div *ngIf="error_message.length>0" class="alert alert-danger">
        {{error_message}}
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-7">
            <select [(ngModel)]="sched_id" (change)="edit_schedule()" class="form-select" name="schedule" id="">
              <option value="" selected>Choose Date</option>
              <option *ngFor="let list of schedule" value="{{list.uid}}">{{list.name}}</option>
            </select>
          </div>
        </div>
        <div class="row mt-4 mx-4 inside-modal">
          <div class="col">
            <ul class="list-group list-group-flush">
              <div *ngIf="empty_message.length>0">
                {{empty_message}}...
              </div>
              <li *ngFor="let list of editSched_time" class="list-group-item">{{list.time}}
                <span class="badge bg-success badge-pill limit">{{list.limit}}</span>
                <button (click)="remove_time(list.id)" class="remove">Remove</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-3">
            <div class="form-group">
              <label>Start Time</label>
              <small class="text-danger font-weight-bold">*</small>
              <select [(ngModel)]="start" name="start" class="form-select required bg-white" id="scheduled_time" required>
                <option value="" selected>Select Start Time</option>
                <option value="1:00 AM">1:00 AM</option>
                <option value="2:00 AM">2:00 AM</option>
                <option value="3:00 AM">3:00 AM</option>
                <option value="4:00 AM">4:00 AM</option>
                <option value="5:00 AM">5:00 AM</option>
                <option value="6:00 AM">6:00 AM</option>
                <option value="7:00 AM">7:00 AM</option>
                <option value="8:00 AM">8:00 AM</option>
                <option value="9:00 AM">9:00 AM</option>
                <option value="10:00 AM">10:00 AM</option>
                <option value="11:00 AM">11:00 AM</option>
                <option value="12:00 PM">12:00 PM</option>
                <option value="1:00 PM">1:00 PM</option>
                <option value="2:00 PM">2:00 PM</option>
                <option value="3:00 PM">3:00 PM</option>
                <option value="4:00 PM">4:00 PM</option>
                <option value="5:00 PM">5:00 PM</option>
                <option value="6:00 PM">6:00 PM</option>
                <option value="7:00 PM">7:00 PM</option>
                <option value="8:00 PM">8:00 PM</option>
                <option value="9:00 PM">9:00 PM</option>
                <option value="10:00 PM">10:00 PM</option>
                <option value="11:00 PM">11:00 PM</option>
                <option value="12:00 AM">12:00 AM</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>End Time</label>
              <small class="text-danger font-weight-bold">*</small>
              <select [(ngModel)]="end" name="end" class="form-select required bg-white" id="scheduled_time" required>
                <option value="" selected>Select End Time</option>
                <option value="1:00 AM">1:00 AM</option>
                <option value="2:00 AM">2:00 AM</option>
                <option value="3:00 AM">3:00 AM</option>
                <option value="4:00 AM">4:00 AM</option>
                <option value="5:00 AM">5:00 AM</option>
                <option value="6:00 AM">6:00 AM</option>
                <option value="7:00 AM">7:00 AM</option>
                <option value="8:00 AM">8:00 AM</option>
                <option value="9:00 AM">9:00 AM</option>
                <option value="10:00 AM">10:00 AM</option>
                <option value="11:00 AM">11:00 AM</option>
                <option value="12:00 PM">12:00 PM</option>
                <option value="1:00 PM">1:00 PM</option>
                <option value="2:00 PM">2:00 PM</option>
                <option value="3:00 PM">3:00 PM</option>
                <option value="4:00 PM">4:00 PM</option>
                <option value="5:00 PM">5:00 PM</option>
                <option value="6:00 PM">6:00 PM</option>
                <option value="7:00 PM">7:00 PM</option>
                <option value="8:00 PM">8:00 PM</option>
                <option value="9:00 PM">9:00 PM</option>
                <option value="10:00 PM">10:00 PM</option>
                <option value="11:00 PM">11:00 PM</option>
                <option value="12:00 AM">12:00 AM</option>
              </select>
            </div>
          </div>
          <div class="col-3  mt-4">
            <input [(ngModel)]="limit" name="limit" class="form-control" type="text" placeholder="Limit">
          </div>
          <div class="col-3 mt-4">
            <button (click)="edit_add_time()" class="add">Add</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--end edit Modal-->

</body>
</html>
