<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Set Schedule</title>
</head>
<body>

  <app-header-doctor></app-header-doctor>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
      <app-doctor-sidenav></app-doctor-sidenav>
    </div>
    <div class="col mt-4">
      <h3 class="usr">Set Schedule</h3>
    </div>
  </div>

</body>
</html>
