<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Patient Sidenav</title>
</head>
<body>
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0 min-vh-100" id="sidenav">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
      <ul class="nav fixed nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
          <a routerLink='/patient-consultation' class="nav-link px-0 align-middle">
            <i class="bi bi-pencil-square"></i> <span class="ms-2 d-none d-sm-inline">Consultation</span> </a>
        </li>
          <li>
              <a routerLink='/patient-transaction-history' class="nav-link px-0 align-middle">
                <i class="bi bi-clock-history"></i> <span class="ms-2 d-none d-sm-inline">Transaction History</span> </a>
          </li>
          <li>
              <a routerLink='/patient-records' class="nav-link px-0 align-middle ">
                 <i class="bi bi-folder2"></i> <span class="ms-2 d-none d-sm-inline">My Records</span></a>
          </li>
          <li>
            <a routerLink='/choose-user-feedback' class="nav-link px-0 align-middle ">
              <i class="bi bi-chat-dots"></i> <span class="ms-2 d-none d-sm-inline">Reviews</span></a>
        </li>
      </ul>
  </div>
</div>

</body>
</html>
