<div class="col mt-4">
  <img src="./assets/images/yoshi.jpg" alt="img" class="profile-pic"  width="120" height="120">
  <div class="lab-info">
    <p>Name: </p>
    <p>Email: </p>
    <p>Address: </p>
    <p>Contact Number: </p>
  </div>
  <div class="lower-part">
    <ul class="list-group py-2 whole-trans">
      <li class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><span ><img src="./assets/images/yoshi.jpg" alt="" width="25" height="25" class="cute-pic"></span>Fullname</h5>
          <small>created at</small>
        </div>
        <div class="feedback">
          <p class="ufeedback">feedback</p>
        </div>
        <!--REPLY-->
        <div>
            <div class="d-flex w-100 justify-content-between replyTo">
                <h5 class="mb-1"><span> <img src="" alt="" class="cute-pic" width="16px" height="16px"></span>rely-name</h5>
                <p class="ureply">reply-feedback</p>
            </div>
        </div>
        <div>
          <button class='submit' type="button" data-bs-toggle="modal" data-bs-target="#toReply">Reply</button>
        </div>
       <!-- <small>Transaction ID</small>-->
      </li>
    </ul>
  </div>
</div>
