<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Doctor Registration Page</title>
</head>
<body>
  <!--header section -->
  <!-- <app-header></app-header> -->

 <!--Registration Form-->
 <div class="register-page">
  <div class="form">
    <h3 class="py-1">Health Insurance Registration</h3>
    <form #userRegForm="ngForm" class="register-form">
      <input type="text" name="name" placeholder=" Name" required/>
      <input type="text" name="branchName" placeholder="Branch Name" required>
      <input type="text" name="address" placeholder="Address" required/>
      <input type="text" placeholder="Contact Number" required/>
      <input type="text" name="emailAddress" placeholder="Email address" required/>
      <input type="password" placeholder="Password" required/>
      <input type="password" placeholder="Confirm Password" required/>
      <div class="agree">
        <input type="checkbox" class="form-check-input" id="terms"/>
        <label class="form-check-label" for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
      </div>
      <button type="submit" >REGISTER</button>

    </form>
    <!--
    <div class="form-group">
      <p *ngIf="errorMessage.length > 0" class="text-danger">
          {{errorMessage}}</p>

      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>

          <p *ngIf="message.length > 0" class="text-info">
              {{message}} </p>
    </div>
  -->
  </div>
</div>
</body>
</html>

