.pending{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 100px;
}
.verified{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  width: 100px;
}
.pending:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}

.verified:hover{
  background-color: rgb(241, 217, 0);
}

.usr{
  margin-top: 70px;
  color: rgb(0, 129, 138);
}

/*inside the modal*/
/*styling update profile*/
input{
  padding: 2px 6px;
}
input:focus{
  outline: 0;
}
.info-modal{
  border-radius: 3px;
  border: 1px solid gray;
}
.modal-title{
  color: rgb(0, 129, 138);
}
.update{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 80px;
}
.cancel{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 80px;
}

.cancel:hover{
  background-color: rgb(211, 0, 0);
}

.update:hover{
  background-color: rgb(0, 129, 138);
}

select{
  padding: 3px 6px;
}

/**/
#verify{
  margin-right: 5px;
}

.verify1{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  width: 100px;
}
.verify1:hover{
  background-color: rgb(241, 217, 0);
}
.decline,
.remove{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 100px;
  margin-left: 5px;
}
.update-info{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 120px;
}

.decline:hover{
  background-color: rgb(211, 0, 0);
}

.update-info:hover{
  background-color: rgb(0, 129, 138);
}
