<div class="">
	<div class="titular">
		<img src="https://images.pexels.com/photos/5327916/pexels-photo-5327916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="bg"/>
    <header class="header sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-2">
        <a class="navbar-brand" href="#">
          <strong class="h6 mb-0 font-weight-bold text-uppercase">
            <img class="logo" src="./assets/images/ekIcon1.ico" width="50" height="50"
            alt="E-Konsulta">
            <span class="main ms-2">E-KONSULTA</span>
          </strong>
          </a>
          <div class="options">
            <ul class="navbar-nav menus">
              <li class="nav-item active"><a class="nav-link" routerLink="/">HOME </a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/register-as">REGISTER</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/login">LOGIN</a></li>
          </ul>
          </div>
      </nav>
    </header>
		<p class="tagline">E-Konsulta</p>
    <p class="subtitle">An integrated telemedicine web and mobile application</p>
	</div>
  <div class="area2" >
	</div >
  <div class="row g-0">
    <div class="col-md-6">
      <img class="realtime" src="https://images.pexels.com/photos/4226256/pexels-photo-4226256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="col-md-6">
      <img class="realtime1" src="https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <div class="content1">
        <h1>Realtime Consultations</h1>
        <p class="contentx">
          Integrated videoconferencing and chat features as well as consultation logs that ensure an integrated and personalized experience.
        </p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-6">
      <img class="insurance2" src="https://images.pexels.com/photos/7688374/pexels-photo-7688374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <div class="content2">
        <h1>Insurance Integration</h1>
        <p class="contentx">
          Use insurance to skip payments for consultations and laboratory tests with our list of insurance partners.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img class="insurance" src="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-6">
      <img class="wide" src="https://images.pexels.com/photos/8460371/pexels-photo-8460371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    </div>
    <div class="col-md-6">
      <img class="wide3" src="https://images.pexels.com/photos/4167561/pexels-photo-4167561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
      <div class="content3">
        <h1>Wide List of Medical Specialists</h1>
        <p  class="contentx">
          Choose from a wide range of medical consultation and be at ease knowing your in good hands.
        </p>
      </div>
    </div>
  </div>
<!--
	<div class="context">
		<br/><br/>
		<h1>More information</h1>
		<p class="line"></p>
		<p>Meet new people, explore new skills, and pursue your passions - together. <br/>With so much to explore, we help empower you to accomplish real growth.</p>
	</div>
-->
	<div class="area" >
		<ul class="circles mt-3">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div >

	<div class="gallery">
		<div class="grid">
			<img src="https://images.pexels.com/photos/8376235/pexels-photo-8376235.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
			<img src="https://images.pexels.com/photos/8376171/pexels-photo-8376171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
			<img src="https://images.pexels.com/photos/4149044/pexels-photo-4149044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
			<img src="https://images.pexels.com/photos/7163953/pexels-photo-7163953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/>
		</div>
		<div class="row">
      <app-footer></app-footer>
    </div>
</div>


