
footer{
  background-color: rgb(0, 192, 206);
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow:hidden;
}

p{
  text-align: center;
}

@media screen and (max-width: 600px)
{
  footer{
    position: relative;
    bottom: 0;
    overflow:hidden;
  }
}

@media screen and (min-width: 610px)
{
  footer{
    position: relative;
    bottom: 0;
  }
}
