<div class="footer">
  <div class="row g-0 justify-content-evenly text-center">
    <div class="col-md-4 border-end">
      <p class="year">
        <span><img class="logo ms-2" src="./assets/images/ekIcon1.ico" width="40" height="40"
          alt="E-Konsulta"></span>
         E-Konsulta.</p>
    </div>
    <div class="col-md-4">
      <p><i class="bi bi-envelope-fill"></i><span class="ms-2 d-none d-sm-inline">lineuparray@gmail.com</span></p>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/user-feedbacks']">Send Feedback</a>
    </div>
  </div>
  <div class="row g-0 justify-content-evenly text-center">
    <div class="col-md-4 border-end">
      <p>All rights reserved {{currentYear}}.</p>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/terms-and-conditions']" class="terms">Terms and Conditions</a>
    </div>
    <div class="col-md-4">
      <a [routerLink]="['/user-complaints']">Complaints</a>
    </div>
  </div>
</div>


