
#sidenav{
  background-color: rgb(0, 192, 206) !important;
  width: 190px;
  position: sticky;
  z-index: 99;
  height: 598px;
  font-size: 14px;

}

.nav-link{
  color: white;
  /* font-size: 18px; */
}

.nav-link:hover{
  /* background-color: white; */
  color: rgb(173, 251, 255) !important;
}

/*responsive */
@media screen and (max-width: 650px)
{
  #sidenav
  {
    width: 100px;
  }

}

