.pending{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 100px;
}
.verified{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  width: 100px;
}
.pending:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}

.verified:hover{
  background-color: rgb(241, 217, 0);
}

.usr{
  margin-top: 70px;
  color: rgb(0, 129, 138);
}

/*inside the modal*/
/*styling update profile*/
input{
  padding: 2px 6px;
}
input:focus{
  outline: 0;
}
.info-modal{
  border-radius: 3px;
  border: 1px solid gray;
}
.cancel,
.update
{
  border:none;
  padding: 5px 20px;
  font-size: 10pt;
  border-radius: 3px;
}
.cancel{
  border: 1px solid maroon;
  background-color:white;
  color: maroon;
}
.update{
  border: 1px solid rgb(0, 129, 138);
  background-color:white;
  color: rgb(0, 129, 138);
}

.cancel:hover{
  background-color: maroon;
  color: white;
}

.update:hover{
  background-color: rgb(0, 129, 138);
  color: white;
}

select{
  padding: 3px 6px;
}

/**/
.update1{
  margin-right: 5px;
}

.verify1{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  width: 100px;
}
.verify1:hover{
  background-color: rgb(241, 217, 0);
}
.decline,
.remove{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 100px;
  margin-left: 5px;
}
.remove{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 100px;
}

.decline:hover,
.remove:hover{
  background-color: rgb(211, 0, 0);
}


