* {
  box-sizing: border-box;
}

.form-control{
  width: 300px !important;
  margin-bottom: 20px;
  margin-top: 70px;
}

/* Style the counter cards */
.card {
  box-shadow: rgba(50, 88, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 30%;
  text-align: left;
  height: 100px !important;
  font-size: 12px;
  margin-top: 10px !important;
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
}

.fa{
  color: #00B4CC;
}


.card-text{
  font-size: 12px !important;
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*view Button*/
.view{
  border: none;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  background-color:rgb(0, 146, 156);
  color: white;
  padding: 4px 15px;
  cursor: pointer;
  float: right;
  font-size: 11px;
}

.view:hover{
  background-color: rgb(0, 129, 138);
}

.card-title{
  font-size: 17px;
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .searchTerm{
    width: 300px;
    display: block;
    margin: 40px 0 60px 20px;
  }
  .col{
    margin-top: 50px;
  }
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
