<app-header-patient></app-header-patient>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
  <div class="col mx-3 mt-4">
    <button type="button" class="book" [routerLink]="['/patient-doctors-lists']">Book a Consultation <span><i class="bi bi-pen-fill"></i></span></button>
    <div class="text-left py-2">
      <div class="btn-group my-2">
        <button type="button" class="up" (click)="upcomingFunction()">Upcoming</button>
        <button type="button" class="done" (click)="doneFunction()">Done</button>
      </div>
      <div *ngIf="upcoming" class="list-group list-group-flush mt-3">
        <a href="javascript:void(0)" *ngFor="let list of docList" class="list-group-item">
          <div *ngIf="list.upcoming_status == 'pending'">
            <span class="full-name mb-2 col">{{list.fullname}}</span>
            <button (click)="chat(list)" id="btnUpcoming" class="pending">Pending <span><i class="bi bi-stopwatch"></i></span></button>
            <button id="btnSched" class="schedule"> {{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</button>
            <button *ngIf="list.paymentType == 'paypal'" (click)="editCancel(list)" class="cancelC" data-bs-toggle="modal" data-bs-target="#exampleModal">Cancel Consultation</button>
          </div>
         <div *ngIf="list.upcoming_status == 'ongoing'">
          <span class="full-name mb-2 col">{{list.fullname}}</span>
           <button (click)="chat(list)" id="btnUpcoming" class="join-now" >Join now <span><i class="bi bi-plus-circle-dotted"></i></span></button>
           <button id="btnSched" class="schedule">{{list.consultation_schedule}} | {{list.schedule}} | {{list.schedtime}}</button>
         </div>
        </a>
      </div>
      <div *ngIf="error_message.length>0" class="alert alert-danger" role="alert">
          {{error_message}}
      </div>
      <div *ngIf="done" class="list-group list-group-flush mt-3">
        <a *ngFor="let list of doneList" class="list-group-item">
          <span class="full-name mb-2 col">{{list.fullname}}</span>
            <button id="btnUpcoming" class="done1">Done <span><i class="bi bi-check-circle"></i></span></button>
            <button id="btnSched" class="schedule">{{list.consultation_schedule}} | {{list.schedule}} | {{list.time}}</button>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel Consultation</h5>
      </div>
      <div class="modal-body">
        Add text here for cancellation
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button (click)="cancel()" type="button" class="btn btn-danger">Continue</button>
      </div>
    </div>
  </div>
</div>
