*{
  box-sizing: border-box;
}
.book{
  border: none;
  border-left: 2px solid rgb(0, 129, 138);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 10px;
  color: rgb(0, 129, 138);
  margin-top: 70px;
  margin-bottom: 10px;
}
.book:hover{
  background-color: white;
}
.up{
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgb(0, 129, 138);
  color: white;
  padding: 7px 12px;
  width: 100px;
}
.done{
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  padding: 7px 12px;
  width: 100px;
}
.done1{
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(255, 238, 0);
  padding: 7px 12px;
  width: 120px;
}

.up:hover{
  color: rgb(0, 129, 138);
  background-color: rgb(235, 233, 233);
}

.done:hover{
  background-color: rgb(241, 217, 0);
}

.full-name{
  margin-right: 100px;
  color: #333;
  padding: 0 10px;
}

.schedule{
  background-color: transparent;
  border: none;
}
.pending{
  border: 1px solid white;
  border-radius: 3px;
  background-color: green;
  color: white;
  padding: 7px 12px;
  width: 120px;
}

.join-now{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 120px;
}
.join-now:hover{
  background-color: rgb(0, 129, 138);
  transform: scale(1.1);
  transition: ease .25s;
}
.cancelC{
  color: white;
  background-color: red;
  float: right !important;
  border-radius: 3px;
  border: none;
  padding: 7px 12px;
}
.cancelC:hover{
  background-color: rgb(219, 0, 0);
}
#btnSched{
  margin-left: 1%;
}

.consultation{
  position: absolute;
  right: 420px;
  top: 90px;
  color: rgb(0, 192, 206);
  overflow: hidden;
}
