<app-header-patient></app-header-patient>
<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
    <app-patient-sidenav></app-patient-sidenav>
  </div>
  <div class="col mx-3 mt-4">
    <button type="button" class="btn btn-info" [routerLink]="['/patient-doctors-lists']">Book a Consultation</button>
    <div class="text-left py-2">
      <div class="btn-group mt-2">
        <button type="button" class="btn btn-outline-info" (click)="upcomingFunction()">Upcoming</button>
        <button type="button" class="btn btn-outline-info" (click)="doneFunction()">Done</button>
      </div>
      <div *ngIf="upcoming" class="list-group">
        <a *ngFor="let list of docList" (click)="chat(list)" class="list-group-item list-group-item-action">
          <span class="">{{list.fullname}}</span>
          <div class="container">
              <div *ngIf="list.upcoming_status == 'pending'">
                 <button id="btnUpcoming" class="btn btn-warning col" >Pending</button>
                 <button id="btnSched" class="btn btn-dark">Schedule | {{list.schedule}}</button>
              </div>
              <div *ngIf="list.upcoming_status == 'ongoing'">
                <button id="btnUpcoming" class="btn btn-success col" >Join now</button>
                <button id="btnSched" class="btn btn-dark">Schedule | {{list.schedule}}</button>
              </div>
          </div>
        </a>
      </div>
      <div *ngIf="error_message.length>0" class="alert alert-danger" role="alert">
          {{error_message}}
      </div>
      <div *ngIf="done" class="list-group">
          <a routerLink="/patient-doctor-chat" class="list-group-item list-group-item-action">Choi Hyunsuk</a>
      </div>
    </div>
  </div>
</div>
