<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Page</title>
</head>
<body>
  <!--header section
  <app-header></app-header> -->

 <!--Registration Form-->
 <div class="register-page">
  <div class="form">
    <h3>Registration</h3>
    <form #userRegForm="ngForm" class="register-form" (ngSubmit)="registerUser(userRegForm.value)">
      <input type="text" [(ngModel)]="this.userForm.fullName" name="fullName" placeholder="Full Name" required/>
      <!-- <input type="text" [(ngModel)]="this.userForm.age" name="age" placeholder="Age" required> -->
      <input [(ngModel)]="this.userForm.dob" name="dob" class="dateclass placeholderclass" type="date" placeholder="Date of Birth" required>
      <input type="text" [(ngModel)]="this.userForm.emailAddress" name="emailAddress" placeholder="Email address" required/>
      <input type="password" [(ngModel)]="this.userForm.password" name="password" placeholder="Password" required/>
      <input type="password" [(ngModel)]="confirmPass" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password" required/>
      <div class="agree">
        <input type="checkbox" class="form-check-input" id="terms"/>
        <label class="form-check-label" for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
      </div>
      <button type="submit" class="nav-item nav-link-edit">REGISTER</button>

    </form>
    <div class="form-group">
      <p *ngIf="error.message.length > 0" class="text-danger">
          {{error.message}} </p>
          <p *ngIf="pass_message.length > 0" class="text-danger">
            {{pass_message}} </p>
  </div>
  </div>
</div>
</body>
</html>

