<app-header-patient></app-header-patient>
  <div class="row flex-nowrap">
    <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
      <!--sidenav -->
      <app-patient-sidenav></app-patient-sidenav>
    </div>

    <div class="col mt-4">
      <img src="{{info2.image}}" alt="img" class="profile-pic"  width="140" height="140">
      <div class="row lab-info">
        <div class="col-md-6 border-end">
          <p>Name: {{info2.fullname}}</p>
          <p>Email: {{info2.email}}</p>
        </div>
        <div class="col-md-6">
          <p>Address: {{info2.address}}</p>
          <p>Contact Number: {{info2.contact_number}}</p>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p class="rating rating1" *ngIf="doctor_rating <= '1'">Rating: {{doctor_rating}}</p>
            <p class="rating rating2" *ngIf="doctor_rating >= '1' && doctor_rating <= '2'">Rating: {{doctor_rating}}</p>
            <p class="rating rating3" *ngIf="doctor_rating >= '2.1' && doctor_rating <= '3'">Rating: {{doctor_rating}}</p>
            <p class="rating rating4" *ngIf="doctor_rating >= '3.1' && doctor_rating <= '4'">Rating: {{doctor_rating}}</p>
            <p class="rating rating5" *ngIf="doctor_rating >= '4.1' && doctor_rating <= '5'">Rating: {{doctor_rating}}</p>
          </div>
        </div>
      </div>
      <div class="lower-part">
        <button class="submit mb-3" type="submit" data-bs-toggle="modal" data-bs-target="#toReply">Add feedback</button>
        <div class="row">
          <div *ngFor="let list of flist" class="content">
            <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1">
                <span><img src="{{list.image}}" alt="" width="35" height="35" class="cute-pic"></span>{{list.fullname}}
                <span class="list-rating" *ngIf="list.rating == '1'" style="color: red;">{{list.rating}} <i class="bi bi-star-fill"></i></span>
                <span class="list-rating" *ngIf="list.rating == '2'" style="color: red;">{{list.rating}} <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></span>
                <span class="list-rating" *ngIf="list.rating == '3'" style="color: rgb(0, 160, 0)">{{list.rating}} <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></span>
                <span class="list-rating" *ngIf="list.rating == '4'" style="color: green">{{list.rating}} <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></span>
                <span class="list-rating" *ngIf="list.rating == '5'" style="color: rgb(255, 174, 0)">{{list.rating}} <i class="bi bi-star-fill"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i></span>
                <!--<span><i class="bi bi-star-fill"></i></span> -->
              </h2>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="feedback">{{list.feedback}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--Reply Modal-->
<div class="modal fade" id="toReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="addSpclLabel">Feedback </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
        <div class="modal-body">
          <select [(ngModel)]="rating" style="margin-bottom:2%; border-radius: 10px !important;" class="form-control" name="" id="">
            <option value="0" selected>Rate 1 - 5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
          <textarea [(ngModel)]="feedback" name="feedback" id="" cols="52" rows="5" placeholder="Write a feedback..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="cancel" data-bs-dismiss="modal">Cancel</button>
          <button (click)="add_feedback()" type="submit" class="add" data-bs-dismiss="modal">Add</button>
        </div>
    </div>
  </div>
</div>

  </div>
