
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient - Transaction History</title>
</head>
<body>

  <app-header-patient></app-header-patient>

    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-patient-sidenav></app-patient-sidenav>
      </div>
      <div class="col mx-3 mt-4">
        <h5 class="usr">Transaction History</h5>
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of transList" class="list-group-item flex-column align-items-start mt-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 mb-1>{{userInfo.fullname}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div>
              <p class="mb-1">Paid an amount of {{list.Amount}} USD as a payment for one consultation.</p>
              <p class="mb-1">Schedule: {{list.Schedule}}</p>
              <p class="mb-1">{{list.Specialization}}: {{list.doctor_name}}</p>
            </div>
            <small>Transaction ID: {{list.uid}}</small>
          </li>
        </ul>
      </div>
    </div>

</body>
</html>
