<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Patients</title>
</head>
<body>

  <app-header-user></app-header-user>

  <div>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>

      <div class="col-sm-3 col-sm-offset-3 py-4">
        <div class="input-group py-4">
          <input [(ngModel)]="searchName" (input)="listOfPatients()" type="search" class="form-control border-info rounded" placeholder="Search Patient" aria-label="Search"
            aria-describedby="search-addon" />
          <button type="button" class="btn btn-info">Search</button>
        </div>
      </div>
    </div>
    <div class="row flex-nowrap tbl">
      <div class="col mx-3">
        <table class="table table-info table striped">
          <thead>
            <tr>
              <th scope="col">Patient Id</th>
              <th scope="col">Name</th>
              <th scope="col">User Type</th>
              <th scope="col">Health Insurance</th>
              <th scope="col">Member ID</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of patientList">
              <th scope="row">{{item.email}}</th>
              <td>{{item.fullname}}</td>
              <td>{{item.role}}</td>
              <td>{{item.health_insurance}}</td>
              <td>{{item.member_ID}}</td>
              <td>
                <button (click)="editList(item)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editPatient">EDIT</button> &nbsp;
                <span><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePatient">DELETE</button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--Edit Patient Modal-->
  <div class="modal fade" id="editPatient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientLabel">Edit Patient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <form #userInfo = "ngForm" (ngSubmit)="updateInfo(userInfo.value)">
          <div class="modal-body">
            Patient Id: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="list.uid" name="uid" type="text" size="30" readonly> <br><br>
            User Type: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="list.role" name="role" type="text" size="30" readonly> <br><br>
            Name: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="list.fullname" name="fullname" type="text" size="30"><br><br>
            Date of Birth <input [(ngModel)]="list.dob" class="dateclass placeholderclass" type="date" name="dob" placeholder="Date of Birth"><br><br>
            Address: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="list.address" name="address" type="text" size="30"><br><br>
            Contact Number: &nbsp; &nbsp;&nbsp;<input [(ngModel)]="list.contact_number" name="contact_number" type="text" size="30" readonly><br><br>
            Health Insurance: &nbsp; &nbsp;&nbsp;
            <select [(ngModel)]="list.health_insurance" name="health_insurance" class="form-select" aria-label="Default select example">
              <option selected>{{list.health_insurance}}</option>
              <option *ngFor="let item of hins_list" value="{{item.name}}">{{item.name}}</option>
            </select>
            Member ID: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input [(ngModel)]="list.member_ID" name="member_ID" type="text" size="30">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-info" data-bs-dismiss="modal">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end of edit patient modal-->

  <!--Delete patient Modal-->
  <div class="modal fade" id="deletePatient" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!--end of delete patient modal-->

</body>
</html>

