body{
  overflow: hidden;
  font-size: 14px;
  height: 100% !important;
  width: 100% !important;
  min-height: 100vh;
  background: #f5f5f5;
}

.content{
  margin-top: 70px;
}
select{
  width: 320px;
  padding: 3px;
}
h5{
  color: rgb(0, 129, 138);
}

input, textarea{
  padding: 3px 6px;
}

.btn, ::placeholder{
  font-size: 14px !important;
}

input [type=date]{
  width: 300px !important;
}

.form-control{
  width: 300px !important;
  margin-bottom: 20px;
}
.edit,
.update{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 80px;
}

.disable{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:rgb(0, 129, 138);
  color: white;
  width: 80px;
}
.disable:hover{
  background-color:rgb(2, 105, 112);
}
.edit:hover,
.update:hover{
  background-color: rgb(0, 129, 138);
}
.close,
.delete,
.cancel,
.disable1{
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background-color:red;
  color: white;
  width: 80px;
}
.close:hover,
.delete:hover,
.cancel:hover,
.disable1:hover{
  background-color: rgb(211, 0, 0);
}
