
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Patientss Analytics</title>

</head>
<body>
  <app-header-doctor></app-header-doctor>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-doctor-sidenav></app-doctor-sidenav>
      </div>
      <div class="col mt-4">
        <h5 class="usr">Patients Analytics</h5>
        <div class="column">
          <div class="card">
            <h6 class="daily">Daily</h6>
            <div class="card-body">
              <small>Total Users</small>
              <p class="card-text">0</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <h6 class="total">Total Consultations</h6>
            <div class="card-body">
              <small style="visibility: hidden;">Total Users</small>
              <p class="card-text">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>
</html>
