<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor - Patients Analytics</title>

</head>
<body>
  <app-header-doctor></app-header-doctor>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0">
        <!--sidenav -->
        <app-doctor-sidenav></app-doctor-sidenav>
      </div>
      <div class="col mt-4">
        <h3 class="usr">Analytics</h3>
        <div class="content">
          <div class="row justify-content-center">
            <div class="col-5 mb-4 consultation-content">
              <h4>Today:
                <span class="card-text">{{today}}</span>
              </h4>
            </div>
            <div class="col-5 mb-4 consultation-content">
              <h4>Total Consultations:
                <span class="card-text">{{total}}</span>
              </h4>
            </div>
          </div>
          <h3 class="usr">Earnings</h3>
          <div class="row mt-4 justify-content-center">
            <div class="col-5 mt-4 consultation-content">
              <h4>Current:
                <span class="card-text">{{currentEarning}}</span>
              </h4>
            </div>
            <div class="col-5 mt-4 consultation-content">
              <h4>Total Earnings:
                <span class="card-text">{{totalEarning}}</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
