<app-header-lab></app-header-lab>

  <div class="row flex-nowrap">
    <div class="col-2 col-md-3 col-xl-2 px-sm-1 px-0">
      <!--sidenav -->
      <app-lab-partner-sidenav></app-lab-partner-sidenav>
    </div>
      <div class="col">
        <p class="usr">Insurance LOA</p>
        <input type="search" class="form-control" placeholder="Search Patient" aria-label="Search"
            aria-describedby="search-addon" />
        <div class="whole-trans">
          <div *ngFor="let list of receivedLOA" class="row"> <!--START-->
            <div class="col-6 content">
              <div class="info">
                <h5></h5>
                <p class="mb-1">File Name: {{list.filename}}</p>
                <small>Patient's name: {{list.patient_name}}</small><br>
                <small>Insurance:{{list.insurance_name}}</small><br>
                <small>Date:{{list.createdAt}}</small>
              </div>
              <div class="bttn">
                <button (click)="viewFile(list.file)" class="view">VIEW</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



