
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Feedbacks</title>
</head>
<body>

  <app-header-user></app-header-user>

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>

    </div>
    <div class="row flex-nowrap tbl">
      <div class="col mx-4">
        <h3 class="usr">Feedbacks</h3>
        <ul class="list-group py-2">
          <li class="list-group-item  list-group-item-action flex-column align-items-start text-info">
            <div class="d-flex w-100 justify-content-between">
              <h5 mb-1>User ID</h5>
              <small>September 1, 2021</small>
            </div>
            <p class="mb-1">I like how minimal it is.</p>
            <small>User Type</small>
          </li>
          <li class="list-group-item  list-group-item-action flex-column align-items-start text-info">
            <div class="d-flex w-100 justify-content-between">
              <h5 mb-1>User ID</h5>
              <small>September 2, 2021</small>
            </div>
            <p class="mb-1">It is user friendly.</p>
            <small>User Type</small>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
