<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Feedbacks</title>
</head>
<body>
  <app-header-user></app-header-user>
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
        <!--sidenav -->
        <app-admin-sidenav></app-admin-sidenav>
      </div>
      <div class="col mx-3 py-4">
        <h5>Feedbacks</h5>
        <ul class="list-group py-2 whole-trans">
          <li *ngFor="let list of list" class="list-group-item list-group-item-action flex-column align-items-start mt-3"  data-bs-toggle="modal" data-bs-target="#toReply">
            <div class="d-flex w-100 justify-content-between">
              <h5 mb-1>{{list.from}}</h5>
              <small>{{list.createdAt}}</small>
            </div>
            <div id="reply">
              <p class="mb-1">{{list.content}}</p>
            </div>
            <small>feature : {{list.feature}}</small>
          </li>
        </ul>
      </div>
    </div>

  <!--reply modal-->
  <div class="modal fade" id="toReply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSpclLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reply</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
        </div>
        <div class="modal-body">
          <textarea name="" id="" cols="70" rows="5" placeholder="Write a reply..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="submit1" data-bs-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!--reply modal end-->

</body>
</html>
