<app-header-patient></app-header-patient>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" >
      <!--sidebar-->
      <app-patient-sidenav></app-patient-sidenav>
    </div>
    <!--
    <div class="col">
      <div *ngFor="let list of list" class="column">
        <div class="card">
          <img class="card-img-top" src="{{list.image}}" alt="insurance"> -->
          <!--<h3><i class="fa fa-user-md"></i></h3>-->
          <!--<div class="card-body">
            <h5 class="card-title">{{list.name}}</h5>
            <div>
               <p class="card-text">{{list.address}}</p>
            </div>
            <a (click)="view_review(list)" class="view">View</a>
          </div>
        </div>
      </div>
  </div> -->

  <div class="col col-sm-offset-3 py-4 mx-3">
    <input [(ngModel)]="searchName" (input)="get_healthList()" type="text" class="form-control" placeholder="Search">
    <div *ngFor="let list of list" class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{list.image}}" class="rounded-start" width="100" height="100" alt="doctor">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title">{{list.name}}</h6>
          <div>
            <p class="card-text mb-1">{{list.address}}</p>
          </div>
          <a (click)="view_review(list)" class="view text-center mb-0">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
