<app-header-patient></app-header-patient>

  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" >
      <!--sidebar-->
      <app-patient-sidenav></app-patient-sidenav>
    </div>
    <div class="col">
      <div class="column">
        <div class="card">
          <!--<img class="card-img-top" src="..." alt="doctor"> -->
          <h3><i class="fa fa-user-md"></i></h3>
          <div class="card-body">
            <h5 class="card-title">Doctors</h5>
            <p class="card-text">Some text</p>
            <a routerLink='/list-of-doctors' class="btn btn-outline-info">View</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <!--<img class="card-img-top" src="..." alt="lab"> -->
          <h3><i class="fa fa-flask"></i></h3>
          <div class="card-body">
            <h5 class="card-title">Laboratory Partners</h5>
            <p class="card-text">Some text</p>
            <a routerLink='/list-of-lab-partners' class="btn btn-outline-info">View</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <!--<img class="card-img-top" src="..." alt="heart"> -->
          <h3><i class="fa fa-heart"></i></h3>
          <div class="card-body">
            <h5 class="card-title">Health Insurance</h5>
            <p class="card-text">Some text</p>
            <a routerLink='/list-of-health-insurance' class="btn btn-outline-info">View</a>
          </div>
        </div>
      </div>
  </div>
</div>
