
.usr{
  color: rgb(0, 192, 206);
  margin-top: 70px;
}

.medical,
.lab,
.prescription,
.loa{
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid white;
  background-color:rgb(0, 146, 156);
  color: white;
  width: 170px;
}
.medical:hover,
.lab:hover,
.prescription:hover,
.loa:hover{
  background-color: rgb(0, 129, 138);
}
.bi-eye-fill{
  font-size: 20px;
  margin-left: 10px;
}
.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}

.view:hover{
  color: rgb(1, 146, 156);
}
