<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Records</title>
</head>
<body>
  <app-header-patient></app-header-patient>
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-1 px-0" id="sidenav">
      <!--sidenav -->
      <app-patient-sidenav></app-patient-sidenav>
    </div>
    <div class="col mx-3 py-4">
      <h3 class="usr"></h3>
      <div class="text-left py-1">
        <div class="btn-group">
          <button type="button" class="filex" (click)="medicalRecords()">Medical Records</button>
          <button type="button" class="filex" (click)="labResult()">Laboratory Result</button>
          <button type="button" class="filex" (click)="prescription()">Prescription</button>
          <button type="button" class="filex" (click)="insuranceLOA()">Insurance LOA</button>
        </div>
        <div *ngIf="medicalrecords">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of medicalList">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.filename}}</td>
                  <td>
                    <button (click)="viewFile(list.file)" class="view" >View <span><i class="bi bi-eye"></i></span></button>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="labresult">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>From</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of list">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.filename}}</td>
                  <td>{{list.from}}</td>
                  <td>
                    <button (click)="viewFile(list.file)" class="view ms-2">VIEW<span><i class="bi bi-eye"></i></span></button>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="presc">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of presList">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.filename}}</td>
                  <td>
                    <button (click)="viewFile(list.file)" class="view" >View <span><i class="bi bi-eye"></i></span></button>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div *ngIf="insurance_loa">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Date</th>
                <th>File Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of loaList">
                  <td>{{list.createdAt}}</td>
                  <td>{{list.filename}}</td>
                  <td>
                    <button (click)="viewFile(list.file)" class="view" >View <span><i class="bi bi-eye"></i></span></button>
                  </td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
