
.usr{
  color: rgb(0, 192, 206);
  margin-top: 70px;
}

/*filex*/
.btn-group .filex:last-child
{
  border-radius: 50px;
  border: 1px solid rgb(1, 129, 1);
  background-color: rgb(0, 145, 0);
  color: white;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.btn-group .filex:first-child{
  border-radius: 50px;
  border: 1px solid rgb(1, 129, 1);
  background-color: rgb(0, 145, 0);
  color: white;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.btn-group .filex
{
  border: 1px solid rgb(1, 129, 1);
  background-color: rgb(0, 145, 0);
  color: white;
  padding: 10px 20px;
}

.btn-group .filex:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .filex:hover{
  background: linear-gradient(135deg, rgb(6, 189, 0) 0%, rgb(5, 138, 0) 100%);
  border: 1px solid rgb(6, 189, 0);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
}

.bi-eye-fill{
  font-size: 20px;
  margin-left: 10px;
}
.view{
  border: none;
  background-color: transparent;
  color: rgb(0, 129, 138);
}

.view:hover{
  color: rgb(1, 146, 156);
}
